openapi: 3.0.1
info:
  title: Textmagic API
  version: "2"
  x-logo:
    url: https://www.textmagic.com/wp-content/uploads/2024/04/tm-logo.svg
    altText: Textmagic
externalDocs:
  description: API documentation
  url: https://docs.textmagictesting.com/
servers:
- url: https://rest.textmagic.com/
security:
- BasicAuth: []
tags:
- description: "Get Started with the TextMagic REST API\nTo start sending text messages\
    \ using the TextMagic REST API, just follow these steps:\n1. Generate the API\
    \ credentials\n1. Connect to our API endpoint\n\n## How to obtain the API credentials\n\
    To start sending text messages, you need to create an API key. An API key is similar\
    \ to an account password; the difference is that an API key only provides access\
    \ to the API; you cannot log in to TextMagic Online using the API key.\n\nYour\
    \ program\_sends the login credentials with each API request as HTTP headers:\
    \ **X-TM-Username** is your TextMagic username, while **X-TM-Key** is your API\
    \ key.\n\nAnother way is to send credentials using **BasicAuth** method. See [Basic\
    \ access authentication](https://en.wikipedia.org/wiki/Basic_access_authentication).\n\
    \nHow to obtain an API key:\n\n1.  [Log in](https://my.textmagic.com/login) to\
    \ TextMagic (or [start a free trial](https://my.textmagic.com/register/) if you\
    \ haven’t registered yet).\n2.  Go to the [API settings page](https://my.textmagic.com/online/api/rest-api/keys).\n\
    3.  Click the **Add new API key** button.\n4.  Enter an app name for this key.\
    \ Note, it’s just a label, so pick any name.\n5.  Click **Generate new key**.\n\
    6.  You should now see your new API key in the green notification banner above\
    \ the table:\n\n![alt text](images/credentials.png)\n\n> **Note for API v1 users**<br/>\n\
    V1 keys are not compatible with the V2 version of the TextMagic REST API, so you\
    \ will need to generate a new API key to use the V2 endpoint.\n\n\n## The API\
    \ endpoint\nThe TextMagic REST API endpoint is:\n```\nhttps://rest.textmagic.com/api/v2\n\
    ```\nAll the URLs referenced in this documentation should use this base URL.\n\
    \n## How the REST API works\nREST APIs use the HTTP protocol to send and receive\
    \ messages. REST messages are usually encoded as JSON documents and are an improvement\
    \ over \nolder methods such as the XML-based SOAP protocol. REST APIs use the\
    \ same set of methods that web browsers use: **POST, GET, PUT** or\_**DELETE**.\
    \ \nThese correspond to the CRUD operations **create, read, update** and **delete**.\
    \ Often, REST URIs provide direct CRUD access to entities or \ncollections of\
    \ entities, for example https://rest.textmagic.com/api/v2/lists. In this instance,\
    \ to delete a list’s endpoint, you might simply call the \nendpoint DELETE https://rest.textmagic.com/api/v2/lists/{id}.\
    \ REST makes these types of operations simple.\n\n> **Example**\n>\n> Let’s take\
    \ the entity most often used in messaging: contacts. Imagine you want to perform\
    \ operations on your contacts list: well, it’s only a matter of calling the following\
    \ endpoints:\n> *   **GET** /api/v2/contacts (get all of your contacts)\n> * \
    \  **GET** /api/v2/contacts/{id} (get a specific contact)\n> *   **POST** /api/v2/contacts\
    \ (create a new contact)\n> *   **PUT** /api/v2/contacts/{id} (update an existing\
    \ contact)\n> *   **DELETE** /api/v2/contacts/{id} (delete an existing contact)\n\
    It’s that simple! In fact, that’s all you need to do to manage the contacts in\
    \ your TextMagic account!"
  name: Getting started
  x-virtual: true
- description: "Sandbox is a tool to test TextMagic REST API requests without the\
    \ need to install any applications or write any code.\n\n<a href=\"https://sandbox.textmagic.com\"\
    \ target=\"_blank\">Go to TextMagic Sandbox</a>\n\n## The credentials area\nTo\
    \ make requests using your TextMagic account, you need to enter your account `username`\
    \ and your `API key` into\nthe corresponding fields. To enter them, click the\
    \ **Authorize** button which you can find at the top-right corner of the page.\n\
    \nThe credentials modal window will be shown. Put your `username` and `API key`\
    \ in and press the **Authorize** button, as shown in the image below:\n\n<p style=\"\
    text-align: center\">\n\t<img srcset=\"images/sandbox_auth_modal_x1.png 1x, images/sandbox_auth_modal_x2.png\
    \ 2x\" style=\"width:600px;\">\n<p>\n\n## Command documentation\n\nTo view the\
    \ documentation for a command, i.e. its parameters, filters, output format and\
    \ return codes, simply click on its name:\n\n<img srcset=\"images/sandbox_try_1_x1.png\
    \ 1x, images/sandbox_try_1_x2.png 2x\">\n\n## How it works\n\nSandbox allows you\
    \ to test the TextMagic REST API directly from your browser. No programming skills\
    \ are required. To use Sandbox, simply click on the entry for the command you\
    \ want to test and then press on the \"Try it out\" button, which is underlined\
    \ in the image above.\n\nAs an example, let's look at a **create template** request:\n\
    \n<img srcset=\"images/sandbox_try_2_x1.png 1x, images/sandbox_try_2_x2.png 2x\"\
    >\n\nEnter the required parameters by editing the input JSON structure (just use\
    \ the provided example) and then click **Execute** to make a request. The URL\
    \ corresponds to the command you wish to use, e.g. `/api/v2/templates` corresponds\
    \ to the templates command.\n\nYou will receive an HTTP response code along with\
    \ a JSON response body showing whether the request was successful or not. You\
    \ will find additional information provided in the HTTP response headers **Response\
    \ Body** and the **Response Header** section.\n\n<img srcset=\"images/sandbox_try_3_x1.png\
    \ 1x, images/sandbox_try_3_x2.png 2x\">\n\nWe have now **successfully created**\
    \ a new message template and saved it to the TextMagic database. It was created\
    \ with an `ID` value of `631`. Now we can send a message using this template via\
    \ API or TextMagic Online.\n\nLet’s retrieve the template now to verify that its\
    \ content was saved correctly. To do this, use the GET `/api/v2/templates/{id}`\
    \ command. Open it, enter the **template id** you obtained in the previous step\
    \ and click **Execute**.\n\n<img srcset=\"images/sandbox_try_4_x1.png 1x, images/sandbox_try_4_x2.png\
    \ 2x\">"
  name: Sandbox
  x-virtual: true
- description: |
    The primary reason for using the TextMagic API is to send SMS text messages.

    # Tutorials

    ## How to send a single text message

    To send a simple text message to one recipient, you should set only the `text` and the `phones` parameters. `text` should
    contain that desired text and `phones` should be set to the recipient’s international phone number.

    For example, to send an SMS message with the text “I love TextMagic” to the phone number +44 (0) 7 860021130, use the command:

    > POST https://rest.textmagic.com/api/v2/messages

    with the following parameters:

    | Parameter | Value |
    | --------- | ----- |
    | text |I love TextMagic (don’t forget to urlencode your string!) |
    | phones | 447860021130 |

    You will receive a result like this:

    | Parameter | Example |
    | --------- | ------- |
    | id | 49576009 |
    | href | /api/v2/messages/49576009 |
    | type | message |
    | sessionId | 34436600 |
    | bulkId | null |
    | messageId | 49576009 |
    | scheduleId | null |

    As long as you have sent a message to at least one recipient, the TextMagic API will return not only the session ID,
    but also the single message ID. Also, you can watch for the delivery status changes using this ID without
    fetching session messages first. Since this is not a bulk session or scheduled message,
    `bulkId` and `scheduleId` are null.

    ## How to send bulk text messages
    You can also send a message to many recipients simultaneously. Let’s see how it’s done in the example below.

    Assuming that you have a list ID 55314 (with 100 recipients), write:

    > POST https://rest.textmagic.com/api/v2/messages

    | Parameter | Value |
    |-----------|-------|
    | **text** | `Hello, how are you?` |
    | **lists** | `55314` |
    | **phones** | `447860021130,447860021131,447860021132,447860021134` |
    | **contacts** | `318,395,3348015` |

    You will receive a result like this:

    |Parameter|Example|
    |---------|-------|
    |**id**|`357122`|
    |**href**|`/api/v2/sessions/357122`|
    |**type**|`session`|
    |**sessionId**|`357122`|
    |**bulkId**|`null`|
    |**messageId**|`null`|
    |**scheduleId**|`null`|

    ## Sending more than 1,000 messages in one session
    A **Bulk session** in TextMagic is when you send a message to more than 1,000 recipients. Since processing such a large session could take a long time (i.e. more than a few seconds), the messages are stored in a queue temporarily. You can check the progress of the messages by sending a **GET **to:
    > GET /api/v2/bulks/{id}

    Assuming that you have list ID 55315 with more than 1,000 recipients, call:

    > POST https://rest.textmagic.com/api/v2/messages

    with the following parameters:

    |Parameter|Value|
    |---------|-----|
    |**templateId**|`10541`|
    |**lists**|`55315`|

    You will receive a result like this:

    |Parameter|Example|
    |---------|-------|
    |**id**|`357122`|
    |**href**|`/api/v2/bulks/357122`|
    |**type**|`bulk`|
    |**sessionId**|`null`|
    |**bulkId**|`357122`|
    |**messageId**|`null`|
    |**scheduleId**|`null`|

    As you can see, the **session** has not been created yet; it will be created after processing all the contacts you supplied during the request.

    ## How to send a text message using an SMS template

    Next, let’s try to send an SMS to a contact list using a message template instead of specifying the message text. An extra feature we can use is the [Custom fields](https://docs.textmagic.com/#tag/Custom-Fields) dynamic fields, which we can apply to send personalized texts to all recipients.

    Let’s assume that you have these items:

    *   a contact list with ID 10541 (with two or more contacts) – you can use test number 999;
    *   the message template with ID 55313 (with **First name** and **Last name** dynamic fields) – when you sign up for a TextMagic account, you automatically receive several message templates, such as **Callback request** or **Booking confirmation**, and you can use any of them;
    *   a sufficient balance in your account to send this SMS message to the contact list.

    > POST https://rest.textmagic.com/api/v2/messages

    with the following parameters:

    |Parameter|Value|
    |---------|-----|
    |**templateId**|`10541`|
    |**lists**|`55313`|

    You will receive a result like this:

    |Parameter|Example|
    |---------|-------|
    |**id**|`34436613`|
    |**href**|`/api/v2/sessions/34436613`|
    |**type**|`session`|
    |**sessionId**|`34436613`|
    |**bulkId**|`null`|
    |**messageId**|`null`|
    |**scheduleId**|`null`|

    This is a sending session with more than one recipient (but fewer than 1,000); see the notes above about sending bulk messages. We cannot select just one message from this session, so the **messageId** is also empty. However, you can [get the session for the messages](https://docs.textmagic.com/#tag/Outbound-Message-Sessions) and then fetch the messages one by one.

    ## How to send a text message with an attachment

    Text messages can include only text symbols. If you need to send a PDF document or an image, you need to upload it to a cloud storage service first and then insert a link to this document it into your text message. TextMagic offers an Attachments feature which allows you to upload your document to the TextMagic servers and get a relatively short download link. After that, you just need to insert the link into your message text.

    To upload an attachment, use:

    > POST https://rest.textmagic.com/api/v2/messages/attachment

    with a single parameter:

    |Parameter|Value|Description|
    |---------|-----|-----------|
    |**file**|`[multipart/form-data]`|Your request with attachment should be sent in `multipart/form-data` format.**Note:** Only .jpg, .gif, .png, .pdf, .txt, .csv, .doc, .docx, .xls, .xlsx, .ppt, .pptx & .vcf attachment files up to 10 MB are supported.|

    You will receive a result like this:

    |Parameter|Example|Description|
    |---------|-------|-----------|
    |**href**|`click/Zwcj9`|This is a relative link to your file. To construct a full link, just add “https://my.textmagic.com/” to the beginning (like this: [https://my.textmagic.com/click/Zwcj9](https://my.textmagic.com/click/Zwcj9)). For most modern devices, you can omit “https://” part and write just [my.textmagic.com/click/Zwcj9](https://my.textmagic.com/click/Zwcj9), it will save you 8 characters.|
    |**chars**|`/api/v2/sessions/11`|`href` field characters count.|**name**|`screen.png`|Original file name that will be displayed on the download/preview page.|
    |**size**|`1094`|Attachment size in bytes.|

    It's as simple as that. Now you can send a text message with this link as described above.

    ## How to send a MMS message

    Text messages can include only text symbols. TextMagic offers an MMS feature that allows you to upload your document or picture to the TextMagic servers and get a short resource name to use it. To send MMS you just need to pass the resource name into special param in sending request [see more](https://docs.textmagic.com/#operation/sendMessage).

    To upload an mms attachment, use:

    > POST https://rest.textmagic.com/api/v2/messages/mms/attachment

    with a single parameter:

    |Parameter|Value|Description|
    |---------|-----|-----------|
    |**file**|`[multipart/form-data]`|Your request with attachment should be sent in `multipart/form-data` format.**Note:** Only .jpg, .gif, .png, .pdf, .txt, .csv, .doc, .docx, .xls, .xlsx, .ppt, .pptx & .vcf attachment files up to 10 MB are supported.|

    You will receive a result like this:

    |Parameter|Example|Description|
    |---------|-------|-----------|
    |**href**|`click/Zwcj9`|This is a relative link to your file. To construct a full link, just add “https://my.textmagic.com/” to the beginning (like this: [https://my.textmagic.com/click/Zwcj9](https://my.textmagic.com/click/Zwcj9)). For most modern devices, you can omit “https://” part and write just [my.textmagic.com/click/Zwcj9](https://my.textmagic.com/click/Zwcj9), it will save you 8 characters.|
    |**chars**|`/api/v2/sessions/11`|`href` field characters count.|**name**|`screen.png`|Original file name that will be displayed on the download/preview page.|
    |**size**|`1094`|Attachment size in bytes.|
    |**resource**|`dasgfdsgdfdfgdfgdf.jpeg`|Internal file name will use in message sending request [see more](https://docs.textmagic.com/#operation/sendMessage).

    It's as simple as that. Now you can send an MMS message.

    # Delivery status callback

    A callback is a mechanism that posts the JSON body of a sent message to the URL on a server that you specify. The server application which receives the callback can check the message status and trigger actions based on that data.

    Delivery status callback is triggered when SMS receives a final status. This is a complete list of final statuses:
    * **d** - delivered;
    * **f** - failed;
    * **j** - rejected;
    * **u** - unknown.

    Here is how to set up the delivery status callback URL:

    1.  [Log in](https://my.textmagic.com/) to TextMagic (or [start a free trial](https://my.textmagic.com/register/) if you haven’t registered yet).
    2.  Go to the [API](https://my.textmagic.com/online/api/rest-api/keys) page.
    3.  Enter your callback URL into the **Callback URL for delivery notifications** field.
    4.  Click the **Test** button to test your URL.
    5.  If it’s successful, click **Save changes**.

    Your server should reply with an **200 OK** response at this URL. If it does not, your callback URL will be treated as invalid and the inbound messages will not be passed to your application.

    ### Call parameters

    Your callback URL will be triggered immediately when the sent message status changes. The parameters are passed by the **POST** method and contain the following information (i.e. exact copy of the **message** resource plus custom **referenceId**, if you have specified it when sending the message via **POST /api/v2/messages**). The Resource format is basically the format of the reply when making the request to the specific API resource.

    | Parameter                                                 | Example                    | Description                                                                                                                                                    |
    |-----------------------------------------------------------|----------------------------|----------------------------------------------------------------------------------------------------------------------------------------------------------------|
    | **id**                                                    | `4991`                     | Message ID.                                                                                                                                                    |**sender**|
    | **sender**                                                | `447624800500`             | Message sender (phone number or alphanumeric Sender ID).                                                                                                       |
    | **receiver**                                              | `447860021130`             |                                                                                                                                                                |
    | Recipient phone number.                                   | **text**                   | `Hello John!`                                                                                                                                                  |
    | Message text (after dynamic fields substitution, if any). |                            |                                                                                                                                                                |
    | **price**                                                 | `0.25`                     |                                                                                                                                                                |Message cost (in account currency).|
    | **status**                                                | `d`                        | Delivery status of the message. Please see the table at the [Sessions](https://docs.textmagic.com/#section/Delivery-status-codes) section to see different delivery statuses. |
    | **partsCount**                                            | `2`                        | Message parts (multiples of 160 characters) count.                                                                                                             |
    | **messageTime**                                           | `2015-06-19T09:48:24+0000` | Sending time.                                                                                                                                                  |
    | **charset**                                               | `UTF-16BE`                 | Message charset. Could be:*   **ISO-8859-1** for plaintext SMS*   **UTF-16BE** for Unicode SMS                                                                 |
    | **firstName**                                             | `John`                     | Contact first name. Could be substituted from your [Contacts](https://docs.textmagic.com/#tag/Contacts) (even if you submitted phone number instead of contact ID).           |
    | **lastName**                                              | `Conway`                   | Contact last name.                                                                                                                                             |
    | **country**                                               | `DK`                       | Two-letter ISO country code of the recipient phone number.                                                                                                     |
    | **referenceId**                                           | `my-reference-id-319`      | Custom message reference ID. You can use your internal IDs to identify the DLRs more easily when doing **POST /api/v2/messages**.                              |

    # Delivery status codes

    Below you’ll find several delivery statuses for sent messages, which are divided into two types:
    *   **intermediate** – temporary statuses that can change as the messages are processed;
    *   **final** – these statuses that are final and will not change.

    | Delivery status | Type                                                               | Description                                                                            |
    |-----------------|--------------------------------------------------------------------|----------------------------------------------------------------------------------------|
    | **a**           | intermediate                                                       | The mobile operator has acknowledged the message.                                      |
    | **b**           | intermediate                                                       | The mobile operator has queued the message.                                            |
    | **d**           | final                                                              | The message has been successfully delivered to the handset.                            |
    | **e**           | final                                                              | An error occurred while sending the message.                                           |
    | **f**           | final                                                              | An error occurred while delivering the message.                                        |
    | **j**           | final                                                              | The mobile operator has rejected the message.                                          |
    | **g**           | rejected – Contact has unsubscribed (Textmagic internal rejection) | The message was rejected because it was sent to a contact who previously unsubscribed. |
    | **q**           | intermediate                                                       | The message is queued on the TextMagic server.                                         |
    | **r**           | intermediate                                                       | The message has been sent to the mobile operator.                                      |
    | **s**           | intermediate                                                       | This message is scheduled to be sent later.                                            |
    | **u**           | final                                                              | The status is unknown.                                                                 |
  name: Outbound Messages
  x-displayName: |
    Messages: Send
- description: |
    With the TextMagic API, you can establish a full two-way communication pipeline for sending and receiving text messages within your application.

    ## Incoming messages callback

    A callback is a mechanism that posts the JSON body of a received message to the URL on a server that you specify. The server application which receives the callback
    can save the message data into a database, send user notifications, etc.

    Here is how to set up the incoming messages callback URL:

    1.  [Log in](https://my.textmagic.com/) to TextMagic (or [start a free trial](https://my.textmagic.com/register/) if you haven’t registered yet).
    2.  Go to the [API](https://my.textmagic.com/online/api/settings) page.
    3.  Enter your callback URL into the **Callback URL for incoming messages** field.
    4.  Click the **Test** button to test your URL.
    5.  If it’s successful, click **Save changes**.

    Your server should reply with an **200 OK** response at this URL. If it does not, your callback URL will be treated as invalid and the inbound messages will not be passed to
    your application.

    ### Call parameters

    Your callback URL will be triggered immediately after a message reaches the TextMagic server. The parameters are passed by the **POST** method and contain the following
    information (i.e. an exact copy of the **reply** resource). The Resource format is basically the format of the reply when making the request to the specific API resource.

    | Parameter | Example | Description |
    | --------- | ------- | ----------- |
    | **id**    | `1782832`| Inbound message ID. |
    | **sender** | `447860021130` | Sender phone number. |
    | **receiver** | `447624800500` | Receiver phone number (i.e. **your** dedicated or shared reply number). |
    | **messageTime** | `2012-11-28T18:38:28+0000` | The time when the message reached the TextMagic server. |
    | **text** | `Test reply` | Inbound message text. |
  name: Inbound Messages
  x-displayName: |
    Messages: Receive
- description: |
    You can schedule text messages to be sent at a later date or time, or you can create recurring text message sessions with TextMagic API. Below is a detailed overview of how to do both.
  name: Scheduled Messages
  x-displayName: |
    Messages: Schedule
- description: "When you send an SMS to more than one recipient, it is collected as\
    \ one **message session**. However, the text in your messages (in one session)\
    \ \nmay vary and you can send personalized texts using [Templates](https://docs.textmagic.com/#tag/Templates).\
    \ But first, let’s learn how to manage SMS sessions \nvia the TextMagic API."
  name: Outbound Message Sessions
  x-displayName: Sessions
- description: "With the Lists API, you can arrange your database contacts into different\
    \ lists for sending targeted bulk text messages."
  name: Lists
  x-displayName: Lists
- description: "To make sending messages easier, you can use contacts instead of phone\
    \ numbers. Your contacts will be safely kept on TextMagic servers and will be\
    \ available from any location. This page shows how to create, edit and delete\
    \ contacts."
  name: Contacts
  x-displayName: Contacts
- description: "With custom fields, you can store custom data in contacts and use\
    \ the data with\_[Templates](https://docs.textmagic.com/#tag/Templates)."
  name: Custom Fields
- description: ""
  name: Contact Notes
- description: |
    # Tags API

    The Tags API allows you to create and manage tags for organizing and categorizing your contacts in the TextMagic platform. Tags provide a flexible way to segment your contact database.

    ## Key Features

    - **Contact Organization**: Categorize contacts with custom tags for better organization
    - **Flexible Segmentation**: Create unlimited tags to segment your contact database
    - **Custom Categorization**: Define your own tag names to match your business needs
    - **Multi-tag Support**: Apply multiple tags to a single contact for complex segmentation

    ## Tag Management

    ### Creating Tags
    Create new tags with descriptive names to categorize your contacts. Tag names must be unique within your account and can be up to 50 characters long.

    ### Applying Tags to Contacts
    Once created, tags can be assigned to contacts individually or in bulk. A single contact can have multiple tags for flexible organization.

    ## Getting Started

    1. Create tags using the Create Tag endpoint with descriptive names
    2. Apply tags to your contacts through the contact management endpoints
    3. Use tags to filter and target contacts
    4. Monitor and manage your tags through the Tags API endpoints

    For detailed endpoint documentation, see the individual endpoint descriptions below.
  name: Tags
- description: |
    You can easily verify your customers using their phone numbers with the help of 2FA (better known as two-factor authentication) and protect against fraud, build trust, and increase conversions. There is a simple way to do this with an API call to a TextMagic endpoint. With the help of TextMagic API, you can:

    *   Send two-factor authentication messages (2FA);
    *   Send one-time passwords (OTP);
    *   Integrate passwordless login into your app;
    *   Protect your app from fraud.

    ## How does it work?

    * **Step 1:** Your server makes an API call to the TextMagic endpoint, and we send a text message (and later, as a fallback, a generate a text-to-speech voice call) with a verification code to the phone number supplied in the initial request.

    * **Step 2:** Once the code is received, the user enters it into the relevant input field in your app. This code needs to be passed to TextMagic in the second API call; if it is correct, the server will respond with the correct response code. This way, you can ensure that the recipient really owns the phone number entered into your app or form.

    ## Verification workflow

    TextMagic verification API sends a PIN code by text messages or voice calls. Below you will find the description of the default workflow.

    1.  Send **a text message** with a verification code.
    2.  _Wait for 60 seconds._
    3.  If the correct code was not supplied, send **the first text-to-speech** voice call.
    4.  _Wait for 60 seconds._
    5.  If the code was not supplied, send **the second text-to-speech** voice call.
    6.  _Wait for the verification._ The verification code is **valid for 5 minutes** from the time of the initial request.

    > **Please note:** Submitting another verification request for the same phone number before the original code has expired will result in a 409 error code. The new verification request can be submitted only once the previous code has expired (after 5 minutes) or canceled.
  name: Two Factor auth
  x-displayName: Two-factor authentication
- description: |
    In TextMagic, an SMS chat is a convenient grouping of inbound and outbound messages, addressed to specified recipients and arranged as a sorted list. Take a look at the [SMS Chat](https://docs.textmagic.com/#tag/Chats) feature in TextMagic Online. Under the hood, this feature is represented by the **chat** resource.
  name: Chats
  x-displayName: Chats
- description: |
    Templates can save time and effort when the same message format is required. Furthermore,
    your customers will receive personalized messages even when you’ve applied templates.
    All you have to do is insert the embed **dynamic fields** into the template text.

    ## Custom fields list (Merge dynamic fields)

    All dynamic fields should be inputted inside curly braces (e.g., `{First name}` for **First name**).

    | Dynamic field | Description |
    |---------------|-------------|
    | **First name** | Contact first name. |
    | **Last name** | Contact last name. |
    | **Company name** | Contact company. |
    | **Phone** | Contact phone number. |
    | **Email** | Email. |
    | [Custom fields](https://docs.textmagic.com/#tag/Custom-Fields) | Contact custom field values. |
  name: Templates
  x-displayName: Templates
- description: "Mobile marketing (for product promotion) is a very powerful tool for\
    \ your business – and this is where sending SMS messages using email stands out.\n\
    \nYou can set up a two-way communication without needing to write even one line\
    \ of code: all you need is an email client and a TextMagic account. With this\
    \ system, you can send ordinary emails, and your recipients will receive SMS messages\
    \ (and vice versa, when they reply to you, you will receive their text through\
    \ email).\n\n## Getting started\n\nTo start sending text messages from your email,\
    \ you first need to configure your Email to SMS settings.\n\nTo add email addresses\
    \ for sending an SMS:\n\n1.  [Log in](https://my.textmagic.com/) to TextMagic\
    \ (or [start a free trial](https://my.textmagic.com/register/) if you haven’t\
    \ registered yet).\n2.  Go to [Allowed emails](https://my.textmagic.com/online/emailtosms/emails).\
    \    \n3.  Add the email addresses that you own or control, one per line.\n4.\
    \  Click **Save**.\n\n> Please note, if an email address does not belong to you,\
    \ we recommend you use a [Distribution List](https://docs.textmagic.com/#tag/Distribution-Lists).\n\
    \n## Send SMS from an email\n\nThe following example email will send **The Free\
    \ Encyclopedia** in an SMS to the two mobile phones with the numbers listed.\n\
    \n| Variable | Value |\n|-------|-------|\n|From:|`your_registered_email@yourdomain.com`\
    \ ([Add your allowed emails](https://www.textmagic.com/app/wt/messages/esms)).|\n\
    |To: |`4412345678@textmagic.com, 4912345678@textmagic.com` |\n|Subject: |You can\
    \ leave the subject blank. |\n|Body: |`The Free Encyclopedia` |\n\nThe recipients\
    \ (+4412345678 and +4912345678) will receive this email as an SMS.\n\n## Send\
    \ and Receive Settings\n\nThe **Send and Receive Settings** lets you control the\
    \ amount of each email you send as an SMS. They also limit the number of texts\
    \ per message. These settings will help you control your budget.\n\n1.  [Log in](https://my.textmagic.com/)\
    \ to TextMagic (or [start a free trial](https://my.textmagic.com/register/) if\
    \ you haven’t registered yet).\n2.  Go to [Send & Receive Settings](https://my.textmagic.com/online/emailtosms/settings).\n\
    3.  Edit your message content and length settings as needed.\n4.  Click **Save**.\n\
    \n> Please note, you are charged according to [the length of the text message](https://support.textmagic.com/faq/how-many-characters-can-i-include-in-a-text-message/)\
    \ you send.\n\nYou’re now ready to send and receive SMS messages via email.\n"
  name: Send Email to SMS
  x-virtual: true
- description: |
    When someone replies to an SMS you’ve sent via email to the SMS service, the reply will be sent to the originating email address. This means that you can simply reply to all incoming emails from the TextMagic service and the recipient will receive the reply as an SMS.

    ## How to set up incoming SMS alerts

    To set up an incoming messages notification:

    1.  [Log in](https://my.textmagic.com/) to TextMagic (or [start a free trial](https://my.textmagic.com/register/) if you haven’t registered yet).
    2.  Go to [Incoming SMS alerts](https://my.textmagic.com/online/account/notifications/incoming).
    3.  To turn on the receiving **SMS to Email** service, enable the **New incoming SMS** option.
    4.  If you want the last ten messages from your conversation included in the email reply, turn on the **Recent Chat History** feature.

    > Normally, the reply is sent to the email address that started the conversation. For example, if you sent an email from **charles@example.com** to [447971001234@textmagic.com](mailto:447971001234@textmagic.com) and the recipient replied to that address, that reply will be sent to **charles@example.com** by default. However, you can also nominate up to three additional email addresses to receive a copy of that email. Add them into the **Forward incoming SMS to email 1**, **2** or **3** fields.

    ## Incoming SMS email alert (example)

    When someone replies to a message you sent using **Email To SMS**, TextMagic will forward the reply to your email.

    | Variable | Value |
    |-------|-------|
    | From: | 4912345678@textmagic.com |
    | Body: | Hi, I just received your message. Phil. |
  name: Receive SMS to Email
  x-virtual: true
- description: "In this section, you’ll learn how to forward your emails as text messages\
    \ to one or even to hundreds of people and learn how to never miss another alert\
    \ or notification.\n\n## How distribution lists work\n\nAll emails sent to your\
    \ SMS distribution list email addresses will be immediately forwarded as text\
    \ messages to all the mobile phone numbers in that distribution list. You can\
    \ read more about distribution lists from our [marketing site](https://www.textmagic.com/sms-distribution-lists/)\
    \ or [help center](https://support.textmagic.com/article/how-to-forward-to-distribution-list-members-via-email-to-sms/).\n\
    \n## How to create a distribution list\n\nTo create a distribution list:\n\n1.\
    \  Go to [Distribution lists](https://my.textmagic.com/online/emailtosms/distribution-lists).\n\
    2.  Click **New distribution list**.\n3.  Give your list a name.\n4.  Add recipients\
    \ (phone numbers, contacts or lists).\n5.  Choose the content and message length\
    \ settings.\n6.  Choose what phone number will be sent with the messages. Click\
    \ here to learn more about [sender settings](https://support.textmagic.com/article/how-to-manage-sender-settings/).\n\
    7.  Click **Continue**.\n\nNow you can set up forwarding in your email application\
    \ or send emails to the distribution address.\n\n> Anyone who knows the email\
    \ address associated with your distribution list could send an email to it. This\
    \ could result in several messages being sent from your account. Therefore, it\
    \ is advised that you don’t use this email address for signing up an account or\
    \ share it with the public. Keep it secret.\n\n## Distribution list usage (example)\n\
    \nLet’s imagine we’ve created a distribution list `fe5436332432733@textmagic.com`\
    \ and have added `+447812345678`, `+447812345679`, `+447812345670` numbers as\
    \ recipients.  \n  \nIn order for all of them to receive the text message, we\
    \ send an email with following details:\n\n| Variable | Value |\n|-------|-------|\n\
    | From: | `your_email@yourdomain.com` |\n| To: | `fe5436332432733@textmagic.com`\
    \ |\n| Subject: | You can leave the subject blank. |\n| Body: |  `Server downtime\
    \ started 10:32:02 UTC. Please react ASAP.`|\n\nAs a result, all three recipients\
    \ will receive the text message and will be able to react quickly to fix the server\
    \ issue.\n\n> You can also include TextMagic contact **lists** and separate **contacts**\
    \ in the distribution list’s recipients field to avoid having to add numbers one\
    \ by one."
  name: Distribution Lists
  x-virtual: true
- description: "In this section, you’ll learn about the different sender settings\
    \ and how to set the reply number in messages.\n\n## The differences among sender\
    \ settings\n\nBy default, the SMS you’ve sent will use the reply numbers that\
    \ are shared among all your customers.* Those can be used for free. However, to\
    \ personalize the number, there are four different sender settings:\n\n| Feature\
    \ | Shared reply number | Dedicated number | Alphanumeric Sender ID | Own mobile\
    \ number | \n|---------|---------------------|------------------|------------------------|-------------------|\n\
    | Can receive replies | Yes | Yes | No | To mobile |\n| Is shared among sub-accounts\
    \ | Yes | No | Yes | No | \n| Monthly fee | FREE | From £2.40 | FREE | FREE\n\n\
    \\* \_Even though the numbers are shared, each customer can see only their own\
    \ replies. [Read more](https://support.textmagic.com/faq/what-is-the-difference-between-dedicated-number-and-shared-number/)."
  name: Sender Settings
  x-displayName: Overview
- description: "Sender ID allows you to show your company name instead of the reply\
    \ number.\n\n## What is an alphanumeric Sender ID?\nSender IDs allow you to send\
    \ personalized text messages that do not need a reply. You can apply for Sender\
    \ IDs that are closely connected to your business; for example, **HotPizza**,\
    \ **ITDelivery**, **Insurance**. This is the best solution for transactional SMSs\
    \ with order confirmations or temporary security codes.\n\n> All Sender IDs are\
    \ reviewed by our support team.\n \n> Note, in [several countries](https://support.textmagic.com/article/how-to-understand-sender-setting-restrictions/)\_\
    the sender ID feature is not supported. Please test before using it in real sending\
    \ sessions.\n \n "
  name: Sender IDs
- description: You can browse and modify your account information via the TextMagic
    SMS API. This page will explain how to do that.
  name: User
  x-displayName: Account
- description: |-
    You can use the TextMagic SMS API to invite other people to become sub-accounts. You can also manage them as and when needed.

    ## Sub-account roles

    There are two types of sub-account: regular user and administrator.

    *   A **regular** **user** sub-account allows the user to do everything except buy SMS credit and manage other sub-accounts.
    *   An **administrator** sub-account gives the user access to all features including buying SMS credit and managing other sub-accounts.

    > Only parent users and administrators can manage sub-accounts.
  name: User Subaccounts
  x-displayName: Sub-Accounts
  x-internal: true
- description: You can get detailed sent messages reports and user statements for
    a selected period of time using TextMagic SMS API commands.
  name: Statistic
  x-displayName: Statistics
- description: |-
    With the TextMagic API, you can check the invoices and transactions for your account.

    > Only parent users and administrator sub-accounts can view invoices.
  name: Billing
  x-displayName: Invoices
- description: "All of the possible response codes you can get from the TextMagic\
    \ API are described on this page.\n\n## HTTP response codes\n\nWhen you make a\
    \ request to the TextMagic REST API, you will receive a response that represents\
    \ the new or modified object state (when you use\_**GET**/ **POST**/ **PUT**\_\
    methods) or a success message (when you\_**DELETE** a\_resource). But if something\
    \ goes wrong, instead of **20x,**\_you will get a different status code. Here\
    \ are all the possible response codes:\n\n| Code | Explanation|\n|------|-----------\
    \ |\n| 200 OK| Common OK status code. Request was successful.|\n| 201 Created|\
    \ A resource has been created or updated successfully.|\n| 202 Accepted| Request\
    \ accepted and is being processed.|\n| 204 No content| Resource deleted successfully.|\n\
    | 302 Found| Redirect. Your code should follow the address specified in the\_\
    **Location**\_header.|\n| 400 Bad request| Invalid parameters specified: some\
    \ required parameters are missing or malformed. Check the corresponding command\
    \ documentation.|\n| 401 Unauthorized| Current user has no rights to perform the\
    \ specified action. For example, regular users cannot view [Invoices](https://docs.textmagic.com/#tag/Billing)\
    \ or [Sub-Accounts](#tag/User-Subaccounts).|\n| 404 Not found| Resource not found.|\n\
    | 429 Too many requests| Request limit reached. Please try again later.| \n| 500\
    \ Internal server error| Internal server error has occurred. Please try again\
    \ later.|\n| 503 Service unavailable | Service is unavailable due to maintenance.|\n\
    \n## Error responses\nIn case of an error, the TextMagic API responds with one\
    \ of the HTTP error codes (4xx-5xx as shown below) and returns these common error\
    \ responses.\n<SchemaDefinition schemaRef=\"#/components/schemas/BadRequestResponse\"\
    \ />\n\n## Link responses\nWhen you create or update some resource (via\_ **POST**\
    \ and\_ **PUT\_**requests) you will get a link response:\n\n<SchemaDefinition\
    \ schemaRef=\"#/components/schemas/ResourceLinkResponse\" />\n\n## Delete responses\n\
    When you delete something, a delete response will be returned. The response body\
    \ will be empty and the HTTP code will show\_**204 No Content**."
  name: Response Codes
  x-virtual: true
- description: |+
    The TextMagic SMS API has only one restriction and two limitations. Learn more about them below.

    ## Number format restriction
    You must use the [E.164](https://en.wikipedia.org/wiki/E.164) phone number format during the API request as no local phone formats are accepted (i.e. use **447045678945** instead of **070 4567 8945**). This restriction has been applied to ensure delivery to the desired number without any accidental local-to-international phone transformations.

    ## Maximum “limit” parameter value
    Commands that return an array of resources (e.g. GET /api/v2/messages) can take the **limit** parameter, which can be between `1` and `100`, otherwise it will be replaced with the default value of `10`.

    ## API request frequency limit
    You may not execute more than **50 requests per second**. If you do, a `429 Too Many Requests` error will be returned. Please note that you can use contacts, lists and templates for [sending multiple messages](/docs/api/send-sms/#send-bulk-text-messages) simultaneously per request.

    **However, the following endpoints are subject to stricter rate limits of 5 requests per second**:

    - `DELETE /api/v2/contacts/blocked`
    - `PUT /api/v2/contacts/{id}`
    - `PUT /api/v2/lists/{id}/contacts`
    - `POST /api/v2/lists/{id}/contacts`

    Please ensure your integration respects these limits to avoid service disruptions.

  name: Restrictions and Limits
  x-virtual: true
- description: |
    The text-message parameters should be encoded in the UTF-8 character set. All non-ASCII characters in command parameters should be [encoded](https://en.wikipedia.org/wiki/Percent-encoding). The primary role of URL encoding is to encode URL strings into a form that can be passed via email or scripted-web links without altering the actual content in any way.

    ## Supported character sets

    ### GSM 03.38 encoding

    The standard SMS mobile-phone character set is used universally to send text messages. You can send a longer text message by using only GSM 03.38 characters. The standard character set allows up to 160 characters, and includes the Latin alphabet and the most common accented forms, certain special characters, and the Greek alphabet. It includes the following characters:

    <pre style='font-family: Monaco,Monako,Menlo,Consolas,courier new,monospace!important'>
    @   Δ    SP   0    ¡    P    ¿    p
    £   _    !    1    A    Q    a    q
    $   Φ    "    2    B    R    b    r
    ¥   Γ    #    3    C    S    c    s
    è   Λ    ¤    4    D    T    d    t
    é   Ω    %    5    E    U    e    u
    ù   Π    &    6    F    V    f    v
    ì   Ψ    '    7    G    W    g    w
    ò   Σ    (    8    H    X    h    x
    Ç   Θ    )    9    I    Y    i    y
    LF  Ξ    *    :    J    Z    j    z
    Ø   ESC  +    ;    K    Ä    k    ä
    ø   Æ    ,    <    L    Ö    l    ö
    </pre>

    **Note**: An escape character always precedes the characters `{ } \ ~ [ ] | ^ €`, which therefore takes two characters to send.

    ### Unicode

    When using non-GSM 03.38 characters, SMS transmits the message as a Unicode message. Unicode character support also provides the capability to send a message in Arabic, Japanese, Russian, Chinese and other alphabets.

    ## Message length

    ### GSM 03.38 encoding

    Single text messages are limited to 160 characters, including spaces. However, to get around this restriction, messages can be linked together (up to 6 parts) to form one long message.

    In reality, each concatenated text message is limited to 153 characters rather than 160 due to the need for user-data header (UDH) information. This applies only to messages that contain the standard GSM 03.38 character set. Mobile phones use UDH information to enable them to link long messages together so that they appear as a single SMS message in the recipients’ inboxes.

    | Number of SMSs | Total number of characters in the linked message|
    |----------------|-------------------------------------------------|
    | 1| 160|
    | 2| 306|
    | 3| 459|
    | 4| 612|
    | 5| 765|
    | 6| 918|

    ### Unicode

    Using Unicode (for Russian, Arabic and Chinese languages) restricts messages to a maximum of 70 characters per SMS. You can, however, send longer text messages with our system by splitting them into two or at the most three separate text messages. The table below gives the maximum lengths of two or more parts of a concatenated Unicode text message.

    | Number of SMSs|Total number of characters in the linked message|
    |---------------|------------------------------------------------|
    |1|70|
    |2|134|
    |3|201|
    |4|268|
    |5|335|
    |6|402|
  name: Encoding
  x-virtual: true
- description: "The TextMagic SMS API PHP wrapper can save you a lot of time, as it\
    \ includes all the necessary API commands and tests. It only takes a few seconds\
    \ to download it from GitHub and to install it into your own app or software.\
    \ After installation, you'll then be able to send text messages.\n\n### License\n\
    These SDK libraries are available as open source under the terms of the [MIT License](http://opensource.org/licenses/MIT).\n\
    \n### Support\nIf you need help with the wrapper or if you have any suggestions\
    \ for improvements, please contact us by emailing\_[support@textmagic.com](mailto:support@textmagic.com).\n\
    # PHP\n\n<iframe src=\"https://ghbtns.com/github-btn.html?user=textmagic&repo=textmagic-rest-php-v2&type=star&count=true\"\
    \ frameborder=\"0\" scrolling=\"0\" width=\"170px\" height=\"20px\"></iframe>\n\
    \nThis library provides you with an easy way of sending SMS and receiving replies\
    \ by integrating TextMagic SMS Gateway into your PHP application.\n\n[Get it now\
    \ on GitHub](https://github.com/textmagic/textmagic-rest-php-v2)\n\n## Requirements\n\
    \n- **PHP 8.1** or later\n- **Composer** for dependency management\n- **cURL**\
    \ extension\n- **JSON** extension\n- **mbstring** extension\n\n## Installation\n\
    \n### Via Composer (Recommended)\n\nInstall the SDK using [Composer](https://getcomposer.org/):\n\
    \n```bash\ncomposer require textmagic/textmagic-rest-php-v2\n```\n\nOr add it\
    \ to your `composer.json`:\n\n```json\n{\n    \"require\": {\n        \"textmagic/textmagic-rest-php-v2\"\
    : \"^3.0.43870\"\n    }\n}\n```\n\nThen run:\n\n```bash\ncomposer install\n```\n\
    \n### Manual Installation\n\nDownload the files and include `autoload.php`:\n\n\
    ```php\nrequire_once(__DIR__ . '/vendor/autoload.php');\n```\n\n## Quick Start\n\
    \n### Basic Usage\n\n```php\n<?php\nrequire_once(__DIR__ . '/vendor/autoload.php');\n\
    \nuse TextMagic\\Api\\TextMagicApi;\nuse TextMagic\\Configuration;\nuse GuzzleHttp\\\
    Client;\n\n// Get your credentials from: https://app.textmagic.com/settings/api\n\
    $config = Configuration::getDefaultConfiguration()\n    ->setUsername('YOUR_USERNAME')\n\
    \    ->setPassword('YOUR_API_KEY');\n\n$api = new TextMagicApi(new Client(), $config);\n\
    \n// Test connection\ntry {\n    $result = $api->ping();\n    echo \"Ping successful:\
    \ \" . $result->getPing() . PHP_EOL;\n} catch (\\TextMagic\\ApiException $e) {\n\
    \    echo 'API Error: ' . $e->getMessage() . PHP_EOL;\n    echo 'HTTP Code: '\
    \ . $e->getCode() . PHP_EOL;\n}  catch (\\Exception $e) {\n    echo 'Exception\
    \ when calling TextMagicApi->ping: ', $e->getMessage(), PHP_EOL;\n}\n```\n\n###\
    \ Sending Messages\n\n```php\n<?php\nuse TextMagic\\Models\\SendMessageRequest;\n\
    \n$input = new SendMessageRequest();\n$input->setText('Hello from TextMagic PHP\
    \ SDK!');\n$input->setPhones('+19993322111,+19993322110');\n\ntry {\n    $result\
    \ = $api->sendMessage($input);\n    echo \"Message sent! Session ID: \" . $result->getId()\
    \ . PHP_EOL;\n} catch (\\TextMagic\\ApiException $e) {\n    echo 'Failed to send\
    \ message: ' . $e->getMessage() . PHP_EOL;\n} catch (\\Exception $e) {\n    echo\
    \ 'Exception when calling TextMagicApi->sendMessage: ', $e->getMessage(), PHP_EOL;\n\
    }\n```\n\n### Getting Outgoing Messages\n\n```php\n<?php\ntry {\n    $result =\
    \ $api->getAllOutboundMessages(1, 10);\n    foreach ($result->getResources() as\
    \ $message) {\n        echo \"Message ID: \" . $message->getId() . PHP_EOL;\n\
    \        echo \"Text: \" . $message->getText() . PHP_EOL;\n        echo \"Status:\
    \ \" . $message->getStatus() . PHP_EOL;\n    }\n} catch (\\TextMagic\\ApiException\
    \ $e) {\n    echo 'Error: ' . $e->getMessage() . PHP_EOL;\n} catch (\\Exception\
    \ $e) {\n    echo 'Exception when calling TextMagicApi->getAllOutboundMessages:\
    \ ', $e->getMessage(), PHP_EOL;\n}\n```\n\n### Uploading Files\n\n```php\n<?php\n\
    try {\n    $file = new \\SplFileObject(\"avatar.jpg\");\n    $result = $api->uploadListAvatar($file,\
    \ 3223); // 3223 number here it is sample list ID\n    echo \"Avatar uploaded\
    \ successfully!\" . PHP_EOL;\n} catch (\\TextMagic\\ApiException $e) {\n    echo\
    \ 'Upload failed: ' . $e->getMessage() . PHP_EOL;\n} catch (\\Exception $e) {\n\
    \    echo 'Exception when calling TextMagicApi->uploadListAvatar: ', $e->getMessage(),\
    \ PHP_EOL;\n}\n```\n\n## Migration Guide from v2.x to v3.x\n\n### Breaking Changes\n\
    \n#### PHP Version Requirement\n\n**v2.x:**\n```json\n\"php\": \"^7.2.5 || ^8.0\"\
    \n```\n\n**v3.x:**\n```json\n\"php\": \"^8.1\"\n```\n\n**Action Required:** Upgrade\
    \ your PHP version to 8.1 or later.\n\n```bash\n# Check your PHP version\nphp\
    \ -v\n\n# Should output: PHP 8.1.x or higher\n```\n\n#### Dependencies Update\n\
    \n**v2.x:**\n```json\n\"phpunit/phpunit\": \"^4.8\"\n\"guzzlehttp/guzzle\": \"\
    ^7.2\"\n```\n\n**v3.x:**\n```json\n\"phpunit/phpunit\": \"^10.0\"\n\"guzzlehttp/guzzle\"\
    : \"^7.3\"\n```\n\n**Note:** PHPUnit 10 is required for PHP 8.1 compatibility.\
    \ PHPUnit 8 and 9 do not support PHP 8.1.\n\n### What Stays the Same\n\n✅ **Namespaces**\
    \ - No changes required:\n```php\nuse TextMagic\\Api\\TextMagicApi;\nuse TextMagic\\\
    Models\\SendMessageRequest;\nuse TextMagic\\Configuration;\n```\n\n✅ **API Methods**\
    \ - All methods remain the same:\n```php\n$api->sendMessage($input);\n$api->getAllOutboundMessages($page,\
    \ $limit);\n$api->getContact($id);\n// ... all other methods unchanged\n```\n\n\
    ✅ **Model Classes** - All models remain the same:\n```php\nnew SendMessageRequest();\n\
    new CreateContactRequest();\n// ... all other models unchanged\n```\n\n✅ **Configuration**\
    \ - Configuration setup remains the same:\n```php\n$config = Configuration::getDefaultConfiguration()\n\
    \    ->setUsername('YOUR_USERNAME')\n    ->setPassword('YOUR_API_KEY');\n```\n\
    \n### Step-by-Step Migration\n\n1. **Upgrade PHP to 8.1+**\n   ```bash\n   # macOS\
    \ (Homebrew)\n   brew install php@8.1\n\n   # Ubuntu/Debian\n   sudo apt-get install\
    \ php8.1\n\n   # Verify\n   php -v\n   ```\n\n2. **Update Composer Dependencies**\n\
    \   ```bash\n   # Update composer.json\n   composer require textmagic/textmagic-rest-php-v2:^3.0\n\
    \n   # Or update all dependencies\n   composer update\n   ```\n\n3. **Test Your\
    \ Application**\n   ```bash\n   # Run your tests\n   vendor/bin/phpunit\n\n  \
    \ # Or test manually\n   php your_script.php\n   ```\n\n### Compatibility Matrix\n\
    \n|    Feature    | v2.x | v3.x | Compatible? |\n|---------------|------|------|-------------|\n\
    | PHP 7.2-7.4   |  ✅  |  ❌  |    ❌ No    |\n| PHP 8.0       |  ✅  |  ❌  |    ❌\
    \ No    |\n| PHP 8.1+      |  ✅  |  ✅  |    ✅ Yes   |\n| API Methods   | Same\
    \ | Same |    ✅ Yes   |\n| Models        | Same | Same |    ✅ Yes   |\n| Configuration\
    \ | Same | Same |    ✅ Yes   |\n\n### Need Help?\n\n- 📖 [Full Documentation](https://docs.textmagic.com/)\n\
    - 💬 [Support](https://www.textmagic.com/support/)\n- 🐛 [Report Issues](https://github.com/textmagic/textmagic-rest-php-v2/issues)\n\
    \n\n\n# Node.js\n\n<iframe src=\"https://ghbtns.com/github-btn.html?user=textmagic&repo=textmagic-rest-nodejs-v2&type=star&count=true\"\
    \ frameborder=\"0\" scrolling=\"0\" width=\"170px\" height=\"20px\"></iframe>\n\
    \nThis library provides you with an easy way of sending SMS and receiving replies\
    \ by integrating TextMagic SMS Gateway into your Node.js application.\n\n[Get\
    \ it now on GitHub](https://github.com/textmagic/textmagic-rest-nodejs-v2)\n\n\
    ## Requirements\n\n- **Node.js 18.0.0** or later\n- **npm** or **yarn** for package\
    \ management\n\n## Installation\n\n### Via npm (Recommended)\n\n```bash\nnpm install\
    \ textmagic-client --save\n```\n\n### Via yarn\n\n```bash\nyarn add textmagic-client\n\
    ```\n\n## Development\n\nThis SDK uses **Babel** to transpile modern ES6+ code\
    \ to CommonJS for maximum compatibility.\n\n### Build Process\n\nThe SDK source\
    \ code is written in ES6+ (located in `src/`) and is automatically transpiled\
    \ to ES5/CommonJS (in `dist/`) during installation:\n\n```bash\nnpm install  #\
    \ Automatically runs: npm run build\n```\n\n### Manual Build\n\nIf you need to\
    \ rebuild the SDK manually:\n\n```bash\nnpm run build\n```\n\nThis will transpile\
    \ all files from `src/` to `dist/` using Babel.\n\n## Quick Start\n\n### Basic\
    \ Usage\n\n```javascript\nconst TextMagicClient = require('textmagic-client');\n\
    \n// Get your credentials from: https://app.textmagic.com/settings/api\nconst\
    \ defaultClient = TextMagicClient.ApiClient.instance;\nconst BasicAuth = defaultClient.authentications['BasicAuth'];\n\
    \nBasicAuth.username = 'YOUR_USERNAME';\nBasicAuth.password = 'YOUR_API_KEY';\n\
    \nconst api = new TextMagicClient.TextMagicApi();\n\n// Test connection\napi.ping()\n\
    \  .then(data => {\n    console.log('Ping successful:', data.ping);\n  })\n  .catch(error\
    \ => {\n    console.error('API Error:', error);\n  });\n```\n\n### Using async/await\
    \ (Modern Approach)\n\n```javascript\nconst TextMagicClient = require('textmagic-client');\n\
    \nasync function main() {\n  const defaultClient = TextMagicClient.ApiClient.instance;\n\
    \  const BasicAuth = defaultClient.authentications['BasicAuth'];\n\n  BasicAuth.username\
    \ = 'YOUR_USERNAME';\n  BasicAuth.password = 'YOUR_API_KEY';\n\n  const api =\
    \ new TextMagicClient.TextMagicApi();\n\n  try {\n    // Test connection\n   \
    \ const pingResult = await api.ping();\n    console.log('Ping successful:', pingResult.ping);\n\
    \  } catch (error) {\n    console.error('API Error:', error);\n  }\n}\n\nmain();\n\
    ```\n\n### Sending Messages\n\n```javascript\nconst TextMagicClient = require('textmagic-client');\n\
    \nasync function sendMessage() {\n  const defaultClient = TextMagicClient.ApiClient.instance;\n\
    \  const BasicAuth = defaultClient.authentications['BasicAuth'];\n\n  BasicAuth.username\
    \ = 'YOUR_USERNAME';\n  BasicAuth.password = 'YOUR_API_KEY';\n\n  const api =\
    \ new TextMagicClient.TextMagicApi();\n\n  const sendMessageRequest = new TextMagicClient.SendMessageRequest();\n\
    \  sendMessageRequest.text = 'Hello from TextMagic Node.js SDK!';\n  sendMessageRequest.phones\
    \ = '+19993322111,+19993322110';\n\n  try {\n    const result = await api.sendMessage(sendMessageRequest);\n\
    \    console.log('Message sent! Session ID:', result.id);\n  } catch (error) {\n\
    \    console.error('Failed to send message:', error);\n  }\n}\n\nsendMessage();\n\
    ```\n\n### Getting Outgoing Messages\n\n```javascript\nconst TextMagicClient =\
    \ require('textmagic-client');\n\nasync function getMessages() {\n  const defaultClient\
    \ = TextMagicClient.ApiClient.instance;\n  const BasicAuth = defaultClient.authentications['BasicAuth'];\n\
    \n  BasicAuth.username = 'YOUR_USERNAME';\n  BasicAuth.password = 'YOUR_API_KEY';\n\
    \n  const api = new TextMagicClient.TextMagicApi();\n\n  try {\n    const result\
    \ = await api.getAllOutboundMessages(1, 10);\n\n    result.resources.forEach(message\
    \ => {\n      console.log('Message ID:', message.id);\n      console.log('Text:',\
    \ message.text);\n      console.log('Status:', message.status);\n      console.log('---');\n\
    \    });\n  } catch (error) {\n    console.error('Error:', error);\n  }\n}\n\n\
    getMessages();\n```\n\n### Uploading Files\n\n```javascript\nconst TextMagicClient\
    \ = require('textmagic-client');\nconst fs = require('fs');\n\nasync function\
    \ uploadAvatar() {\n  const defaultClient = TextMagicClient.ApiClient.instance;\n\
    \  const BasicAuth = defaultClient.authentications['BasicAuth'];\n\n  BasicAuth.username\
    \ = 'YOUR_USERNAME';\n  BasicAuth.password = 'YOUR_API_KEY';\n\n  const api =\
    \ new TextMagicClient.TextMagicApi();\n\n  try {\n    const fileStream = fs.createReadStream('avatar.jpg');\n\
    \    const result = await api.uploadListAvatar(fileStream, 3223); // 3223 is sample\
    \ list ID\n    console.log('Avatar uploaded successfully!');\n  } catch (error)\
    \ {\n    console.error('Upload failed:', error);\n  }\n}\n\nuploadAvatar();\n\
    ```\n\n## Error Handling\n\nThe SDK uses Promises and can throw errors that should\
    \ be properly handled:\n\n```javascript\nconst TextMagicClient = require('textmagic-client');\n\
    \nasync function handleErrors() {\n  const defaultClient = TextMagicClient.ApiClient.instance;\n\
    \  const BasicAuth = defaultClient.authentications['BasicAuth'];\n\n  BasicAuth.username\
    \ = 'YOUR_USERNAME';\n  BasicAuth.password = 'YOUR_API_KEY';\n\n  const api =\
    \ new TextMagicClient.TextMagicApi();\n\n  try {\n    const result = await api.sendMessage({\n\
    \      text: 'Test message',\n      phones: '+1234567890'\n    });\n    console.log('Success:',\
    \ result);\n  } catch (error) {\n    // Handle different types of errors\n   \
    \ if (error.response) {\n      // API returned an error response\n      console.error('API\
    \ Error:', error.response.status);\n      console.error('Error details:', error.response.body);\n\
    \    } else if (error.request) {\n      // Request was made but no response received\n\
    \      console.error('Network Error:', error.message);\n    } else {\n      //\
    \ Something else went wrong\n      console.error('Error:', error.message);\n \
    \   }\n  }\n}\n\nhandleErrors();\n```\n\n### Common Error Codes\n\n- **401 Unauthorized**\
    \ - Invalid credentials\n- **400 Bad Request** - Invalid parameters\n- **404 Not\
    \ Found** - Resource not found\n- **429 Too Many Requests** - Rate limit exceeded\n\
    - **500 Internal Server Error** - Server error\n\n## API Documentation\n\nFor\
    \ complete API documentation, including all available methods, parameters, and\
    \ response formats, please visit:\n\n- 📖 **[TextMagic API Documentation](https://docs.textmagic.com/)**\n\
    - 🔗 **[API Reference](https://docs.textmagic.com/#tag/TextMagic-API)**\n\n###\
    \ Available API Methods\n\nThe SDK provides access to all TextMagic API endpoints\
    \ through the `TextMagicApi` class. Some commonly used methods include:\n\n**Messaging:**\n\
    - `sendMessage(request)` - Send SMS messages\n- `getAllOutboundMessages(page,\
    \ limit)` - Get sent messages\n- `getAllInboundMessages(page, limit)` - Get received\
    \ messages\n- `deleteMessage(id)` - Delete a message\n\n**Contacts:**\n- `createContact(request)`\
    \ - Create a new contact\n- `getContact(id)` - Get contact details\n- `updateContact(id,\
    \ request)` - Update contact information\n- `deleteContact(id)` - Delete a contact\n\
    - `getAllContacts(page, limit)` - Get all contacts\n\n**Lists:**\n- `createList(request)`\
    \ - Create a contact list\n- `getList(id)` - Get list details\n- `getAllLists(page,\
    \ limit)` - Get all lists\n- `assignContactsToList(request)` - Add contacts to\
    \ a list\n\n**Account:**\n- `ping()` - Test API connection\n- `getUser()` - Get\
    \ account information\n- `getUserBalance()` - Get account balance\n\nFor a complete\
    \ list of available methods, please refer to the generated SDK documentation in\
    \ the `docs/` directory.\n\n## Migration Guide from v2.x to v3.x\n\n### Breaking\
    \ Changes\n\n#### Node.js Version Requirement\n\n**v2.x:**\n```json\n\"node\"\
    : \">=6.0.0\"\n```\n\n**v3.x:**\n```json\n\"node\": \">=18.0.0\"\n```\n\n**Action\
    \ Required:** Upgrade your Node.js version to 18.0.0 or later.\n\n```bash\n# Check\
    \ your Node.js version\nnode -v\n\n# Should output: v18.x.x or higher\n```\n\n\
    #### Dependencies Update\n\n**v2.x:**\n```json\n\"superagent\": \"^3.5.2\"\n```\n\
    \n**v3.x:**\n```json\n\"superagent\": \"^10.2.2\",\n\"@babel/cli\": \"^7.24.0\"\
    \n```\n\n**Note:**\n- Superagent 10.x includes modern features, better TypeScript\
    \ support, and security improvements.\n- Babel is now used to transpile ES6+ code\
    \ to CommonJS for maximum compatibility.\n\n### What Stays the Same\n\n✅ **Module\
    \ structure** - No changes required:\n```javascript\nconst TextMagicClient = require('textmagic-client');\n\
    const api = new TextMagicClient.TextMagicApi();\n```\n\n✅ **Authentication** -\
    \ Configuration remains the same:\n```javascript\nconst BasicAuth = defaultClient.authentications['BasicAuth'];\n\
    BasicAuth.username = 'YOUR_USERNAME';\nBasicAuth.password = 'YOUR_API_KEY';\n\
    ```\n\n✅ **API Methods** - All methods remain the same:\n```javascript\napi.sendMessage(request);\n\
    api.getAllOutboundMessages(page, limit);\napi.getContact(id);\n// ... all other\
    \ methods unchanged\n```\n\n### Step-by-Step Migration\n\n1. **Upgrade Node.js\
    \ to 18.0.0+**\n   ```bash\n   # Using nvm (recommended)\n   nvm install 18\n\
    \   nvm use 18\n\n   # Verify\n   node -v\n   ```\n\n2. **Update Package Dependencies**\n\
    \   ```bash\n   # Update to latest version\n   npm install textmagic-client@latest\
    \ --save\n\n   # Or update all dependencies\n   npm update\n   ```\n\n3. **Update\
    \ Your Code to Use async/await (Recommended)**\n\n   **Before (v2.x):**\n   ```javascript\n\
    \   api.ping().then(function(data) {\n     console.log(data.ping);\n   }).catch(function(err)\
    \ {\n     console.error(err);\n   });\n   ```\n\n   **After (v3.x):**\n   ```javascript\n\
    \   try {\n     const data = await api.ping();\n     console.log(data.ping);\n\
    \   } catch (error) {\n     console.error(error);\n   }\n   ```\n\n4. **Test Your\
    \ Application**\n   ```bash\n   # Run your tests\n   npm test\n\n   # Or test\
    \ manually\n   node your_script.js\n   ```\n\n### Compatibility Matrix\n\n|  \
    \  Feature    | v2.x | v3.x | Compatible? |\n|---------------|------|------|-------------|\n\
    | Node.js 6-16  |  ✅  |  ❌  |    ❌ No    |\n| Node.js 18+   |  ✅  |  ✅  |    ✅\
    \ Yes   |\n| API Methods   | Same | Same |    ✅ Yes   |\n| Models        | Same\
    \ | Same |    ✅ Yes   |\n| Authentication| Same | Same |    ✅ Yes   |\n| Promises\
    \      |  ✅  |  ✅  |    ✅ Yes   |\n| async/await   |  ✅  |  ✅  |    ✅ Yes   |\n\
    \n### Need Help?\n\n- 📖 [Full Documentation](https://docs.textmagic.com/)\n-\
    \ 💬 [Support](https://www.textmagic.com/support/)\n- 🐛 [Report Issues](https://github.com/textmagic/textmagic-rest-nodejs-v2/issues)\n\
    \n# Java\n\n<iframe src=\"https://ghbtns.com/github-btn.html?user=textmagic&repo=textmagic-rest-java-v2&type=star&count=true\"\
    \ frameborder=\"0\" scrolling=\"0\" width=\"170px\" height=\"20px\"></iframe>\n\
    \nThis library provides you with an easy way of sending SMS and receiving replies\
    \ by integrating TextMagic SMS Gateway into your Java application.\n\n[Get it\
    \ now on GitHub](https://github.com/textmagic/textmagic-rest-java-v2)\n\n\n##\
    \ Requirements\n\n1. Java 11+\n2. Maven/Gradle\n\n## Migration Guide from v2.x\
    \ to v3.x\n\nVersion 3.0 introduces several breaking changes to improve performance,\
    \ security, and maintainability. Please review this guide carefully before upgrading.\n\
    \n### Breaking Changes\n\n#### 1. Java Version Requirement\n\n**Old (v2.x):**\n\
    - Minimum Java version: 1.7+\n\n**New (v3.x):**\n- Minimum Java version: 11+\n\
    \n**Action Required:**\n```xml\n<!-- Update your pom.xml -->\n<properties>\n \
    \   <maven.compiler.source>11</maven.compiler.source>\n    <maven.compiler.target>11</maven.compiler.target>\n\
    </properties>\n```\n\n#### 2. Date/Time Types\n\n**Old (v2.x):**\n```java\nimport\
    \ java.util.Date;\n\nDate createdAt = message.getCreatedAt();\n```\n\n**New (v3.x):**\n\
    ```java\nimport java.time.OffsetDateTime;\n\nOffsetDateTime createdAt = message.getCreatedAt();\n\
    ```\n\n**Action Required:**\n- Replace all `java.util.Date` with `java.time.OffsetDateTime`\n\
    - Update date formatting logic:\n  ```java\n  // Old\n  SimpleDateFormat sdf =\
    \ new SimpleDateFormat(\"yyyy-MM-dd\");\n  String date = sdf.format(createdAt);\n\
    \n  // New\n  DateTimeFormatter formatter = DateTimeFormatter.ofPattern(\"yyyy-MM-dd\"\
    );\n  String date = createdAt.format(formatter);\n  ```\n\n#### 3. HTTP Client\
    \ Library\n\n**Old (v2.x):**\n- OkHttp 2.7.5\n\n**New (v3.x):**\n- OkHttp 4.12.0\n\
    \n**Action Required:**\n- If you use custom OkHttp interceptors, update to OkHttp\
    \ 4.x API:\n  ```java\n  // Old (v2.x)\n  client.interceptors().add(new Interceptor()\
    \ {\n      @Override\n      public Response intercept(Chain chain) throws IOException\
    \ {\n          // ...\n      }\n  });\n\n  // New (v3.x)\n  client.addInterceptor(new\
    \ Interceptor() {\n      @NotNull\n      @Override\n      public Response intercept(@NotNull\
    \ Chain chain) throws IOException {\n          // ...\n      }\n  });\n\n####\
    \ 4. Model Name Changes\n\n**Old (v2.x):**\n```java\nimport com.textmagic.sdk.model.ContactList;\n\
    import com.textmagic.sdk.model.MessageFile;\n\nContactList list = api.getList(123);\n\
    MessageFile file = api.getFile(456);\n```\n\n**New (v3.x):**\n```java\nimport\
    \ com.textmagic.sdk.model.ModelList;\nimport com.textmagic.sdk.model.ModelFile;\n\
    \nModelList list = api.getList(123);\nModelFile file = api.getFile(456);\n```\n\
    \n**Action Required:**\n- Replace `ContactList` → `ModelList` in all imports and\
    \ type declarations\n- Replace `MessageFile` → `ModelFile` in all imports and\
    \ type declarations\n- Use IDE's \"Find and Replace\" feature:\n  ```\n  Find:\
    \ import com.textmagic.sdk.model.ContactList;\n  Replace: import com.textmagic.sdk.model.ModelList;\n\
    \n  Find: import com.textmagic.sdk.model.MessageFile;\n  Replace: import com.textmagic.sdk.model.ModelFile;\n\
    \n  Find: ContactList\n  Replace: ModelList\n\n  Find: MessageFile\n  Replace:\
    \ ModelFile\n  ```\n\n**Why this change?**\n- v2.x used custom names (`ContactList`,\
    \ `MessageFile`) via preprocessing script\n- v3.x uses OpenAPI Generator's standard\
    \ naming convention with `Model` prefix\n- This aligns with industry best practices\
    \ and improves consistency\n\n#### 5. Dependencies\n\n**Updated dependencies:**\n\
    - `com.squareup.okhttp3:okhttp` 2.7.5 → 4.12.0\n- `com.google.code.gson:gson`\
    \ 2.8.x → 2.10.1\n- `org.apache.commons:commons-lang3` 3.x → 3.18.0\n\n**Action\
    \ Required:**\n- Review your dependency tree for conflicts:\n  ```bash\n  mvn\
    \ dependency:tree\n  ```\n- Update any conflicting dependencies in your project\n\
    \n### Migration Steps\n\n1. **Update Java version to 11+**\n   ```bash\n   java\
    \ -version  # Verify Java 11 or higher\n   ```\n\n2. **Update SDK version in pom.xml**\n\
    \   ```xml\n   <dependency>\n       <groupId>com.textmagic.sdk</groupId>\n   \
    \    <artifactId>textmagic-java-sdk</artifactId>\n       <version>3.0.43863</version>\n\
    \   </dependency>\n   ```\n\n3. **Update imports**\n   - Replace `java.util.Date`\
    \ → `java.time.OffsetDateTime`\n   - Replace `java.util.Calendar` → `java.time.ZonedDateTime`\n\
    \   - Replace `com.textmagic.sdk.model.ContactList` → `com.textmagic.sdk.model.ModelList`\n\
    \   - Replace `com.textmagic.sdk.model.MessageFile` → `com.textmagic.sdk.model.ModelFile`\n\
    \n4. **Update date/time handling**\n   - Review all date parsing and formatting\
    \ code\n   - Use `java.time` API instead of `SimpleDateFormat`\n\n5. **Update\
    \ model references**\n   - Search and replace `ContactList` → `ModelList`\n  \
    \ - Search and replace `MessageFile` → `ModelFile`\n   - Recommended: Use IDE's\
    \ \"Find in Path\" with scope limited to your code\n\n6. **Test thoroughly**\n\
    \   - Run your test suite\n   - Pay special attention to date/time operations\n\
    \   - Verify file upload functionality\n\n### Common Issues\n\n#### Issue: `java.lang.UnsupportedClassVersionError`\n\
    \n**Cause:** Your project is compiled with Java < 11\n\n**Solution:**\n```xml\n\
    <properties>\n    <maven.compiler.source>11</maven.compiler.source>\n    <maven.compiler.target>11</maven.compiler.target>\n\
    </properties>\n```\n\n#### Issue: `cannot find symbol: class Date`\n\n**Cause:**\
    \ Missing import after migration\n\n**Solution:**\n```java\n// Remove\nimport\
    \ java.util.Date;\n\n// Add\nimport java.time.OffsetDateTime;\n```\n\n#### Issue:\
    \ OkHttp compatibility errors\n\n**Cause:** Conflicting OkHttp versions in classpath\n\
    \n**Solution:**\n```xml\n<!-- Exclude old OkHttp from other dependencies -->\n\
    <dependency>\n    <groupId>some.other.library</groupId>\n    <artifactId>library</artifactId>\n\
    \    <version>1.0.0</version>\n    <exclusions>\n        <exclusion>\n       \
    \     <groupId>com.squareup.okhttp</groupId>\n            <artifactId>okhttp</artifactId>\n\
    \        </exclusion>\n    </exclusions>\n</dependency>\n```\n\n#### Issue: `cannot\
    \ find symbol: class ContactList` or `cannot find symbol: class MessageFile`\n\
    \n**Cause:** Model names changed from `ContactList`/`MessageFile` to `ModelList`/`ModelFile`\n\
    \n**Solution:**\n```java\n// Old (v2.x)\nimport com.textmagic.sdk.model.ContactList;\n\
    ContactList myList = api.getList(123);\n\n// New (v3.x)\nimport com.textmagic.sdk.model.ModelList;\n\
    ModelList myList = api.getList(123);\n```\n\n**Quick fix with sed (Unix/Mac):**\n\
    ```bash\n# Backup your files first!\nfind . -name \"*.java\" -type f -exec sed\
    \ -i.bak 's/import com\\.textmagic\\.sdk\\.model\\.ContactList;/import com.textmagic.sdk.model.ModelList;/g'\
    \ {} \\;\nfind . -name \"*.java\" -type f -exec sed -i.bak 's/import com\\.textmagic\\\
    .sdk\\.model\\.MessageFile;/import com.textmagic.sdk.model.ModelFile;/g' {} \\\
    ;\nfind . -name \"*.java\" -type f -exec sed -i.bak 's/\\bContactList\\b/ModelList/g'\
    \ {} \\;\nfind . -name \"*.java\" -type f -exec sed -i.bak 's/\\bMessageFile\\\
    b/ModelFile/g' {} \\;\n```\n\n### Need Help?\n\nIf you encounter issues during\
    \ migration:\n- Check our [GitHub Issues](https://github.com/textmagic/textmagic-rest-java-v2/issues)\n\
    - Review the [API Documentation]()\n- Contact support at support@textmagic.com\n\
    \n## Installation\n\n### Maven\n\nAdd this dependency to your project's POM:\n\
    ```xml\n<dependencies>\n    <dependency>\n        <groupId>com.textmagic.sdk</groupId>\n\
    \        <artifactId>textmagic-java-sdk</artifactId>\n        <version>3.0.43863</version>\n\
    \    </dependency>\n</dependencies>\n\n### Gradle\n\nAdd this dependency to your\
    \ project's build file:\n```groovy\nimplementation \"com.textmagic.sdk:textmagic-java-sdk:3.0.43863\"\
    \n```\n\n## Usage Example\n\n```java\nimport com.textmagic.sdk.*;\nimport com.textmagic.sdk.api.TextMagicApi;\n\
    import com.textmagic.sdk.auth.*;\nimport com.textmagic.sdk.model.*;\nimport java.io.File;\n\
    \npublic class App {\n\n    public static void main(String[] args) {\n       \
    \ ApiClient defaultClient = Configuration.getDefaultApiClient();\n\n        //\
    \ put your Username and API Key from https://my.textmagic.com/online/api/rest-api/keys\
    \ page.\n        HttpBasicAuth BasicAuth = (HttpBasicAuth) defaultClient.getAuthentication(\"\
    BasicAuth\");\n        BasicAuth.setUsername(\"YOUR_USERNAME\");\n        BasicAuth.setPassword(\"\
    YOUR_API_KEY\");\n\n        TextMagicApi apiInstance = new TextMagicApi();\n\n\
    \        // Simple ping request example\n        try {\n            PingResponse\
    \ response = apiInstance.ping();\n            System.out.println(response.getPing());\n\
    \        } catch (ApiException e) {\n        System.err.println(\"Exception when\
    \ calling ping\");\n            e.printStackTrace();\n        }\n\n        //\
    \ Send a new message request example\n        SendMessageInputObject sendMessageInputObject\
    \ = new SendMessageInputObject();\n        sendMessageInputObject.setText(\"I\
    \ love TextMagic!\");\n        sendMessageInputObject.setPhones(\"+19998887766\"\
    );\n\n        try {\n            SendMessageResponse response = apiInstance.sendMessage(sendMessageInputObject,\
    \ true);\n            System.out.println(response.getId());\n        } catch (ApiException\
    \ e) {\n            System.err.println(\"Exception when calling sendMessage\"\
    );\n            e.printStackTrace();\n        }\n\n        // Get all outgoing\
    \ messages request example\n        try {\n            // Put null if you want\
    \ to use default values\n            GetAllOutboundMessagesResponse response =\
    \ apiInstance.getAllOutboundMessages(1, 10, null);\n            System.out.println(response.getResources().get(0).getText());\n\
    \        } catch (ApiException e) {\n            System.err.println(\"Exception\
    \ when calling getAllOutboundMessages\");\n            e.printStackTrace();\n\
    \        }\n\n        // Upload new avatar for contacts list (group) with Id 3223\
    \ example\n        File file = new File(\"test.jpg\");\n        try {\n      \
    \      ResourceLinkResponse response = apiInstance.uploadListAvatar(file, 3223);\n\
    \            System.out.println(response.getId());\n        } catch (ApiException\
    \ e) {\n            System.err.println(\"Exception when calling uploadListAvatar\"\
    );\n            e.printStackTrace();\n        }\n    }\n}\n```\n\n# C# / VB.NET\n\
    \n<iframe src=\"https://ghbtns.com/github-btn.html?user=textmagic&repo=textmagic-rest-csharp-v2&type=star&count=true\"\
    \ frameborder=\"0\" scrolling=\"0\" width=\"170px\" height=\"20px\"></iframe>\n\
    \nThis library provides you with an easy way of sending SMS and receiving replies\
    \ by integrating TextMagic SMS Gateway into your C# / VB.NET application.\n\n\
    [Get it now on GitHub](https://github.com/textmagic/textmagic-rest-csharp-v2)\n\
    \n## Frameworks supported\n- .NET 4.0 or later\n- Windows Phone 7.1 (Mango)\n\n\
    ## Dependencies\n- [RestSharp](https://www.nuget.org/packages/RestSharp) - 105.1.0\n\
    - [Json.NET](https://www.nuget.org/packages/Newtonsoft.Json/) - 7.0.0 or later\n\
    - [JsonSubTypes](https://www.nuget.org/packages/JsonSubTypes/) - 1.2.0 or later\n\
    \nThe DLLs included in the package may not be the latest versions. We recommend\
    \ using [NuGet](https://docs.nuget.org/consume/installing-nuget) to obtain the\
    \ latest version of the packages:\n```\nInstall-Package RestSharp\nInstall-Package\
    \ Newtonsoft.Json\nInstall-Package JsonSubTypes\n```\n\nNOTE: RestSharp versions\
    \ later than 105.1.0 have a bug which causes file uploads to fail. See [RestSharp#742](https://github.com/restsharp/RestSharp/issues/742)\n\
    \n## Installation\nAdd the library to your project references or install it as\
    \ a [NuGet package](https://www.nuget.org/packages/TextMagicClient/2.0.43821/).\n\
    \n## C# usage example\n```csharp\nusing System;\nusing System.IO;\nusing TextMagicClient.Api;\n\
    using TextMagicClient.Client;\nusing TextMagicClient.Model;\n\nnamespace ExampleApp\n\
    {\n    class Program\n    {\n        static void Main(string[] args)\n       \
    \ {\n            // put your Username and API Key from https://my.textmagic.com/online/api/rest-api/keys\
    \ page.\n            Configuration.Default.Username = \"YOUR_USERNAME\";\n   \
    \         Configuration.Default.Password = \"YOUR_API_KEY\";\n            Configuration.Default.BasePath\
    \ = \"https://rest.textmagic.com\";\n\n            var apiInstance = new TextMagicApi();\n\
    \n            // Simple Ping request sample\n            try\n            {\n\
    \                var result = apiInstance.Ping();\n                Console.WriteLine(result.Ping);\n\
    \            }\n            catch (Exception e)\n            {\n             \
    \   Console.WriteLine(\"Exception when calling TextMagicApi.Ping: \" + e.Message\
    \ );\n            }\n\n            // Send a new message request sample\n    \
    \        try\n            {\n                var sendMessageInputObject = new\
    \ SendMessageInputObject\n                {\n                    Text = \"I love\
    \ TextMagic!\", Phones = \"+199988887766\"\n                };\n\n           \
    \     var result = apiInstance.SendMessage(sendMessageInputObject);\n        \
    \        Console.WriteLine(result.Id);\n            }\n            catch (Exception\
    \ e)\n            {\n                Console.WriteLine(\"Exception when calling\
    \ TextMagicApi.SendMessage: \" + e.Message );\n            }\n\n            //\
    \ Get all outgoing messages sample\n            try\n            {\n         \
    \       var result = apiInstance.GetAllOutboundMessages(1, 10);\n            \
    \    Console.WriteLine(result.Resources[0].Id);\n            }\n            catch\
    \ (Exception e)\n            {\n                Console.WriteLine(\"Exception\
    \ when calling TextMagicApi.GetAllOutboundMessages: \" + e.Message );\n      \
    \      }\n\n            // Upload list avatar sample, 3223 here is a sample list\
    \ id\n            try\n            {\n                var stream = File.Open(\"\
    /CustomPath/Images/test.png\", FileMode.Open);\n                var result = apiInstance.UploadListAvatar(stream,\
    \ 3223);\n                Console.WriteLine(result.Href);\n            }\n   \
    \         catch (Exception e)\n            {\n                Console.WriteLine(\"\
    Exception when calling TextMagicApi.UploadListAvatar: \" + e.Message );\n    \
    \        }\n        }\n    }\n}\n```\n\n## VB.Net usage example\n\n```vbnet\n\
    Imports System\nImports System.IO\nImports TextMagicClient.Api\nImports TextMagicClient.Client\n\
    Imports TextMagicClient.Model\n\nModule Program\n    Sub Main(args As String())\n\
    \        ' put your Username and API Key from https://my.textmagic.com/online/api/rest-api/keys\
    \ page.\n        Configuration.Default.Username = \"YOUR_USERNAME\"\n        Configuration.Default.Password\
    \ = \"YOUR_API_KEY\"\n        Configuration.Default.BasePath = \"https://rest.textmagic.com\"\
    \n\n        Dim apiInstance = New TextMagicApi()\n\n        ' Simple Ping request\
    \ sample\n        Try\n            Dim result = apiInstance.Ping()\n         \
    \   Console.WriteLine(result.Ping)\n            Catch ex As Exception\n      \
    \      Console.WriteLine(\"Exception when calling TextMagicApi.Ping: \" + ex.Message\
    \ )\n        End Try\n\n        ' Send a new message request sample\n        Try\n\
    \            Dim sendMessageInputObject = New SendMessageInputObject With {\n\
    \            .Text = \"I love TextMagic!\",\n            .Phones = \"+199988887766\"\
    \n            }\n            Dim result = apiInstance.SendMessage(sendMessageInputObject)\n\
    \            Console.WriteLine(result.Id)\n        Catch e As Exception\n    \
    \        Console.WriteLine(\"Exception when calling TextMagicApi.SendMessage:\
    \ \" & e.Message)\n        End Try\n\n        ' Get all outgoing messages sample\n\
    \        Try\n            Dim result = apiInstance.GetAllOutboundMessages(1, 10)\n\
    \            Console.WriteLine(result.Resources(0).Id)\n        Catch e As Exception\n\
    \            Console.WriteLine(\"Exception when calling TextMagicApi.GetAllOutboundMessages:\
    \ \" & e.Message)\n        End Try\n\n        ' Upload list avatar sample, 3223\
    \ here is a sample list id\n        Try\n            Dim stream = File.Open(\"\
    /CustomPath/Images/test.png\", FileMode.Open)\n            Dim result = apiInstance.UploadListAvatar(stream,\
    \ 3223)\n            Console.WriteLine(result.Href)\n        Catch e As Exception\n\
    \            Console.WriteLine(\"Exception when calling TextMagicApi.UploadListAvatar:\
    \ \" & e.Message)\n        End Try\n    End Sub\nEnd Module\n\n```\n\n# C++\n\n\
    <iframe src=\"https://ghbtns.com/github-btn.html?user=textmagic&repo=textmagic-rest-cpp-v2&type=star&count=true\"\
    \ frameborder=\"0\" scrolling=\"0\" width=\"170px\" height=\"20px\"></iframe>\n\
    \nThis library provides you with an easy way of sending SMS and receiving replies\
    \ by integrating TextMagic SMS Gateway into your C++ application.\n\n[Get it now\
    \ on GitHub](https://github.com/textmagic/textmagic-rest-cpp-v2)\n## Requirements\n\
    \n* CMake 2.8 and later (https://cmake.org/)\n* cpprest (https://github.com/microsoft/cpprestsdk)\n\
    \nUbuntu dependencies quick installation example:\n```shell\napt-get install build-essential\
    \ cmake libcpprest-dev\n```\n\n## Installation\n\nDownload and extract lib archive:\n\
    ```shell\nwget https://github.com/textmagic/textmagic-rest-cpp-v2/archive/v2.0.43821.tar.gz\
    \ && \\\ntar zxf v2.0.43821.tar.gz && \\\nrm -f v2.0.43821.tar.gz && \\\ncd textmagic-rest-cpp-v2-2.0.43821\n\
    ```\nBuild using cmake\n```shell\ncmake . && cmake --build .\n```\nThe output\
    \ library file will be placed in the `textmagic-rest-cpp-v2-2.0.43821/lib` directory:\n\
    \n## Usage Example\nIn the example below, we assume that you moved the library\
    \ sources `textmagic-rest-cpp-v2-2.0.43821` directory to your test project root\
    \ directory.\n\nConfigure your `CMakeLists.txt` as shown here:\n```shell\ncmake_minimum_required(VERSION\
    \ 2.8)\nproject(test)\n\nset(CMAKE_CXX_STANDARD 14)\n\nadd_executable(app main.cpp)\n\
    \nadd_library(textmagic_client SHARED IMPORTED)\nset_property(TARGET textmagic_client\
    \ PROPERTY IMPORTED_LOCATION \"${PROJECT_SOURCE_DIR}/textmagic-rest-cpp-v2-2.0.43821/lib/libtextmagic_client.so\"\
    )\n\ntarget_include_directories (app PRIVATE ${PROJECT_SOURCE_DIR}/textmagic-rest-cpp-v2-2.0.43821\
    \ ${PROJECT_SOURCE_DIR}/textmagic-rest-cpp-v2-2.0.43821/model ${PROJECT_SOURCE_DIR}/textmagic-rest-cpp-v2-2.0.43821/api)\n\
    target_link_libraries(app boost_system cpprest crypto textmagic_client )\n```\n\
    \n`main.cpp` file example:\n```cpp\n#include <iostream>\n#include <fstream>\n\
    #include \"textmagic-rest-cpp-v2-2.0.43821/ApiClient.h\"\n#include \"textmagic-rest-cpp-v2-2.0.43821/ApiConfiguration.h\"\
    \n#include \"textmagic-rest-cpp-v2-2.0.43821/api/TextMagicApi.h\"\n\nusing namespace\
    \ com::textmagic::client::api;\n\nint main() {\n    std::shared_ptr<ApiClient>\
    \ apiClient(new ApiClient);\n    std::shared_ptr<ApiConfiguration> apiConfig(new\
    \ ApiConfiguration);\n\n    // put your Username and API Key from https://my.textmagic.com/online/api/rest-api/keys\
    \ page.\n    apiConfig->setBaseUrl(\"https://rest.textmagic.com\");\n    apiConfig->getHttpConfig().set_credentials(web::credentials(\"\
    YOUR_NAME\", \"YOUR_API_KEY\"));\n    apiClient->setConfiguration(apiConfig);\n\
    \n    TextMagicApi api(apiClient);\n\n    // Simple ping request example\n   \
    \ pplx::task<std::shared_ptr<PingResponse>> pingResponse = api.ping();\n    pingResponse.wait();\n\
    \n    try {\n        std::cout << pingResponse.get()->getPing() << '\\n';\n  \
    \  } catch(const std::exception& e) {\n        std::cout << \"getPing() exception:\
    \ \" << e.what() << '\\n';\n    }\n\n    // Send a new message request example\n\
    \    std::shared_ptr<SendMessageInputObject> sendMessageInputObject(new SendMessageInputObject);\n\
    \    sendMessageInputObject->setPhones(\"+19998887766\");\n    sendMessageInputObject->setText(\"\
    I love TextMagic!\");\n\n    pplx::task<std::shared_ptr<SendMessageResponse>>\
    \ sendMessageResponse = api.sendMessage(sendMessageInputObject);\n    sendMessageResponse.wait();\n\
    \n    try {\n        std::cout << sendMessageResponse.get()->getId() << '\\n';\n\
    \    } catch(const std::exception& e) {\n        std::cout << \"getId() exception:\
    \ \" << e.what() << '\\n';\n    }\n\n    // Get all outgoing messages request\
    \ example\n    pplx::task<std::shared_ptr<GetAllOutboundMessagesPaginatedResponse>>\
    \ getAllOutboundMessagesResponse = api.getAllOutboundMessages(boost::none, boost::none,\
    \ boost::none);\n    getAllOutboundMessagesResponse.wait();\n\n    try {\n   \
    \     std::cout << getAllOutboundMessagesResponse.get()->getResources()[0]->getId()\
    \ << '\\n';\n    } catch(const std::exception& e) {\n        std::cout << \"getId()\
    \ exception: \" << e.what() << '\\n';\n    }\n\n    // Upload list avatar request\
    \ example\n    std::filebuf fb;\n    fb.open (\"test.jpg\", std::ios::in);\n \
    \   std::shared_ptr<std::istream> is(new std::istream(&fb));\n\n    std::shared_ptr<HttpContent>\
    \ image(new HttpContent);\n    image->setName(\"test\");\n    image->setContentDisposition(\"\
    attachment\");\n    image->setFileName(\"test.jpg\");\n\n    image->setContentType(\"\
    image/jpeg\");\n    image->setData(is);\n\n    // List ID in current example is\
    \ 3223\n    pplx::task<std::shared_ptr<ResourceLinkResponse>> resourceLinkResponse\
    \ = api.uploadListAvatar(image, 3223);\n    resourceLinkResponse.wait();\n\n \
    \   try {\n        std::cout << resourceLinkResponse.get()->getId() << '\\n';\n\
    \    } catch(const std::exception& e) {\n        std::cout << \"getId() exception:\
    \ \" << e.what() << '\\n';\n    }\n\n    return 0;\n}\n```\nBuild your test project:\n\
    ```shell\ncmake . && cmake --build .\n```\nRun:\n```shell\n./app\n```\n\n\n# Python\n\
    \n<iframe src=\"https://ghbtns.com/github-btn.html?user=textmagic&repo=textmagic-rest-python-v2&type=star&count=true\"\
    \ frameborder=\"0\" scrolling=\"0\" width=\"170px\" height=\"20px\"></iframe>\n\
    \nThis library provides you with an easy way of sending SMS and receiving replies\
    \ by integrating TextMagic SMS Gateway into your Python application.\n\n[Get it\
    \ now on GitHub](https://github.com/textmagic/textmagic-rest-python-v2)\n## Requirements\n\
    Python 2.7 and 3.4+\n\n## Installation\n\n```shell\npip install git+https://github.com/textmagic/textmagic-rest-python-v2.git@v2.0.43821\n\
    ```\n\n## Usage Example\n\n```python\nimport TextMagic\nfrom TextMagic.rest import\
    \ ApiException\n\n# put your Username and API Key from https://my.textmagic.com/online/api/rest-api/keys\
    \ page.\nconfiguration = TextMagic.Configuration()\nconfiguration.username = 'YOUR_USERNAME'\n\
    configuration.password = 'YOUR_API_KEY'\n\n# create an instance of the API class\n\
    api_instance = TextMagic.TextMagicApi(TextMagic.ApiClient(configuration))\n\n\
    # Simple ping request example\ntry:\n    response = api_instance.ping()\n    print(response.ping)\n\
    except ApiException as e:\n    print(\"Exception when calling TextMagicApi->ping:\
    \ %s\\n\" % e)\n\n# Send a new message request example\nsend_message_input_object\
    \ = TextMagic.SendMessageInputObject()\nsend_message_input_object.text = \"I love\
    \ TextMagic!\"\nsend_message_input_object.phones = \"+79998887766\"\n\ntry:\n\
    \    response = api_instance.send_message(send_message_input_object)\n    print(response.id)\n\
    except ApiException as e:\n    print(\"Exception when calling TextMagicApi->send_message:\
    \ %s\\n\" % e)\n\n# Get all outgoing messages request example\ntry:\n    response\
    \ = api_instance.get_all_outbound_messages(page=1, limit=200)\n    print(response.resources[0].text)\n\
    except ApiException as e:\n    print(\"Exception when calling TextMagicApi->get_all_outbound_messages:\
    \ %s\\n\" % e)\n\n# Upload a new list (contacts group) avatar request example.\
    \ 3223 here is a test list id\ntry:\n    response = api_instance.upload_list_avatar('test.png',\
    \ 3223)\n    print(response.id)\nexcept ApiException as e:\n    print(\"Exception\
    \ when calling TextMagicApi->upload_list_avatar: %s\\n\" % e)\n\n```\n\n\n# Perl\n\
    \n<iframe src=\"https://ghbtns.com/github-btn.html?user=textmagic&repo=textmagic-rest-perl-v2&type=star&count=true\"\
    \ frameborder=\"0\" scrolling=\"0\" width=\"170px\" height=\"20px\"></iframe>\n\
    \nThis library provides you with an easy way of sending SMS and receiving replies\
    \ by integrating TextMagic SMS Gateway into your Perl application.\n\n[Get it\
    \ now on GitHub](https://github.com/textmagic/textmagic-rest-perl-v2)\n## Installation\n\
    \n```bash\nwget https://github.com/textmagic/textmagic-rest-perl-v2/archive/v2.0.43821.tar.gz\
    \ && \\\ntar zxf v2.0.43821.tar.gz && \\\nrm -f v2.0.43821.tar.gz && \\\ncd textmagic-rest-perl-v2-2.0.43821\
    \ && \\\nperl Makefile.pl && \\\nmake && \\\nmake install && \\\ncpanm --installdeps\
    \ .\n```\\\n\n## Usage Example\n\nPlease follow the [installation](#installation)\
    \ instructions and execute the following Perl code:\n\n```perl\nuse 5.010;\nuse\
    \ strict;\nuse warnings;\nuse Net::Sms::TextMagicClient::ApiClient;\nuse Net::Sms::TextMagicClient::TextMagicApi;\n\
    use Net::Sms::TextMagicClient::Object::SendMessageInputObject;\n\n# put your Username\
    \ and API Key from https://my.textmagic.com/online/api/rest-api/keys page.\nmy\
    \ $client = Net::Sms::TextMagicClient::ApiClient::->new(\n    username   => 'YOUR_USERNAME',\n\
    \    password   => 'YOUR_API_KEY',\n    base_url  => 'https://rest.textmagic.com'\n\
    );\n\nmy $api_instance = Net::Sms::TextMagicClient::TextMagicApi::->new($client);\n\
    \n# Ping request example\neval {\n    my $result = $api_instance->ping();\n  \
    \  print $result->ping;\n};\n\nif ($@) {\n    warn \"Exception when calling TextMagicApi->ping:\
    \ $@\\n\";\n}\n\n# Send a new message request example\nmy $send_message_input_object\
    \ = Net::Sms::TextMagicClient::Object::SendMessageInputObject->new(\n    text\
    \ => 'I love TextMagic!',\n    phones => '+19998887766'\n);\n\neval {\n    my\
    \ $result = $api_instance->send_message(send_message_input_object => $send_message_input_object);\n\
    \    print $result->id;\n};\n\nif ($@) {\n    warn \"Exception when calling TextMagicApi->send_message:\
    \ $@\\n\";\n}\n\n# Get all outgoing messages request example\neval {\n    my $result\
    \ = $api_instance->get_all_outbound_messages();\n    print $result->resources->[0]->message_time;\n\
    };\n\nif ($@) {\n    warn \"Exception when calling TextMagicApi->get_all_inbound_messages:\
    \ $@\\n\";\n}\n\n# Upload a new avatar for a  specified contacts list (group)\
    \ request example (3223 it is sample list ID)\neval {\n    my $result = $api_instance->upload_list_avatar(image\
    \ => \"test.jpg\", id => 3223);\n    print $result->id;\n};\n\nif ($@) {\n   \
    \ warn \"Exception when calling TextMagicApi->upload_list_avatar: $@\\n\";\n}\n\
    \n```\n\n# Ruby\n\n<iframe src=\"https://ghbtns.com/github-btn.html?user=textmagic&repo=textmagic-rest-ruby-v2&type=star&count=true\"\
    \ frameborder=\"0\" scrolling=\"0\" width=\"170px\" height=\"20px\"></iframe>\n\
    \nThis library provides you with an easy way of sending SMS and receiving replies\
    \ by integrating TextMagic SMS Gateway into your Ruby application.\n\n[Get it\
    \ now on GitHub](https://github.com/textmagic/textmagic-rest-ruby-v2)\n## Installation\n\
    \nAdd these lines into your Gemfile\n```ruby\ngem 'textmagic_rest_client', :git\
    \ => 'https://github.com/textmagic/textmagic-rest-ruby-v2.git', :tag => 'v2.0.43821'\n\
    ```\n\nRun the bundler install command\n``` shell\nbundle install\n```\n\n## Usage\
    \ Example\n\nCreate the test file `test.rb` and put the following code:\n```ruby\n\
    \ # Load the gem\nrequire 'textmagic_rest_client'\n\n # Setup authorization\n\
    TextMagic.configure do |config|\n    # put your Username and API Key from https://my.textmagic.com/online/api/rest-api/keys\
    \ page.\n    config.username = 'YOUR_USERNAME'\n    config.password = 'YOUR_API_KEY'\n\
    end\n\napi_instance = TextMagic::TextMagicApi.new\n\n # Simple ping request example\n\
    begin\n    result = api_instance.ping\n    puts result.ping\nrescue TextMagic::ApiError\
    \ => e\n    puts \"Exception when calling TextMagicApi->ping: #{e}\"\nend\n\n\
    \ # Send a new message request example\nsend_message_input_object = TextMagic::SendMessageInputObject.new\n\
    send_message_input_object.text = 'I love TextMagic!'\nsend_message_input_object.phones\
    \ = '+19998887766'\n\nbegin\n    result = api_instance.send_message(send_message_input_object)\n\
    \    puts result.id\nrescue TextMagic::ApiError => e\n    puts \"Exception when\
    \ calling TextMagicApi->send_message: #{e}\"\nend\n\n # Get all outgoing messages\
    \ request example\nbegin\n    result = api_instance.get_all_outbound_messages(page:\
    \ 1, limit: 10)\n    puts result.resources[0].text\nrescue TextMagic::ApiError\
    \ => e\n    puts \"Exception when calling TextMagicApi->get_all_outbound_messages:\
    \ #{e}\"\nend\n\n # Upload new avatar for contacts list (group) with Id 3223 example\n\
    file = File.open('test.png', 'r')\nbegin\n    result = api_instance.upload_list_avatar(file,\
    \ 3223)\n    puts result.id\nrescue TextMagic::ApiError => e\n    puts \"Exception\
    \ when calling TextMagicApi->upload_list_avatar: #{e}\"\nend\n```\n\nRun the script:\n\
    ```\nbundle exec ruby test.rb\n```\n\n\n# Go\n\n<iframe src=\"https://ghbtns.com/github-btn.html?user=textmagic&repo=textmagic-rest-go-v2&type=star&count=true\"\
    \ frameborder=\"0\" scrolling=\"0\" width=\"170px\" height=\"20px\"></iframe>\n\
    \nThis library provides you with an easy way of sending SMS and receiving replies\
    \ by integrating TextMagic SMS Gateway into your Go application.\n\n[Get it now\
    \ on GitHub](https://github.com/textmagic/textmagic-rest-go-v2)\n## Installation\n\
    \nWith go.mod:\n```bash\ngo get -u github.com/textmagic/textmagic-rest-go-v2/v2@v3.0.43884\n\
    ```\n\nWithout go.mod:\n```bash\ngo get -u github.com/textmagic/textmagic-rest-go-v2\n\
    ```\n\n## Dependencies:\n\n- https://github.com/antihax/optional - this library\
    \ is used to provide optional argument types for API calls. See the `GetAllOutboundMessages`\
    \ call example below.\n\n## Usage Example\n\n```go\npackage main\n\nimport (\n\
    \    \"context\"\n    \"fmt\"\n    \"github.com/antihax/optional\"\n    // If\
    \ you're using go.mod use line below to import our module\n    // \ttm \"github.com/textmagic/textmagic-rest-go-v2/v2\"\
[...]
