---
swagger: "2.0"
info:
  version: "2"
  title: "TextMagic API"
  x-logo:
    url: "https://www.textmagic.com/wp-content/themes/textmagic-genesis/assets/vendor/textmagic/marketing/css/../images/logo/logo.svg"
    altText: "TextMagic"
host: "rest.textmagic.com"
tags:
- name: "Getting started"
  description: "Get Started with the TextMagic REST API\nTo start sending text messages\
    \ using the TextMagic REST API, just follow these steps:\n1. Generate the API\
    \ credentials\n1. Connect to our API endpoint\n\n## How to obtain the API credentials\n\
    To start sending text messages, you need to create an API key. An API key is similar\
    \ to an account password; the difference is that an API key only provides access\
    \ to the API; you cannot log in to TextMagic Online using the API key.\n\nYour\
    \ program\_sends the login credentials with each API request as HTTP headers:\
    \ **X-TM-Username** is your TextMagic username, while **X-TM-Key** is your API\
    \ key.\n\nAnother way is to send credentials using **BasicAuth** method. See [Basic\
    \ access authentication](https://en.wikipedia.org/wiki/Basic_access_authentication).\n\
    \nHow to obtain an API key:\n\n1.  [Log in](https://my.textmagic.com/login) to\
    \ TextMagic (or [start a free trial](https://my.textmagic.com/register/) if you\
    \ haven’t registered yet).\n2.  Go to the [API settings page](https://my.textmagic.com/online/api/rest-api/keys).\n\
    3.  Click the **Add new API key** button.\n4.  Enter an app name for this key.\
    \ Note, it’s just a label, so pick any name.\n5.  Click **Generate new key**.\n\
    6.  You should now see your new API key in the green notification banner above\
    \ the table:\n\n![alt text](images/credentials.png)\n\n> **Note for API v1 users**<br/>\n\
    V1 keys are not compatible with the V2 version of the TextMagic REST API, so you\
    \ will need to generate a new API key to use the V2 endpoint.\n\n\n## The API\
    \ endpoint\nThe TextMagic REST API endpoint is:\n```\nhttps://rest.textmagic.com/api/v2\n\
    ```\nAll the URLs referenced in this documentation should use this base URL.\n\
    \n## How the REST API works\nREST APIs use the HTTP protocol to send and receive\
    \ messages. REST messages are usually encoded as JSON documents and are an improvement\
    \ over \nolder methods such as the XML-based SOAP protocol. REST APIs use the\
    \ same set of methods that web browsers use: **POST, GET, PUT** or\_**DELETE**.\
    \ \nThese correspond to the CRUD operations **create, read, update** and **delete**.\
    \ Often, REST URIs provide direct CRUD access to entities or \ncollections of\
    \ entities, for example https://rest.textmagic.com/api/v2/lists. In this instance,\
    \ to delete a list’s endpoint, you might simply call the \nendpoint DELETE https://rest.textmagic.com/api/v2/lists/{id}.\
    \ REST makes these types of operations simple.\n\n> **Example**\n>\n> Let’s take\
    \ the entity most often used in messaging: contacts. Imagine you want to perform\
    \ operations on your contacts list: well, it’s only a matter of calling the following\
    \ endpoints:\n> *   **GET** /api/v2/contacts (get all of your contacts)\n> * \
    \  **GET** /api/v2/contacts/{id} (get a specific contact)\n> *   **POST** /api/v2/contacts\
    \ (create a new contact)\n> *   **PUT** /api/v2/contacts/{id} (update an existing\
    \ contact)\n> *   **DELETE** /api/v2/contacts/{id} (delete an existing contact)\n\
    It’s that simple! In fact, that’s all you need to do to manage the contacts in\
    \ your TextMagic account!"
  x-virtual: true
- name: "Sandbox"
  description: "Sandbox is a tool to test TextMagic REST API requests without the\
    \ need to install any applications or write any code.\n\n<a href=\"https://sandbox.textmagic.com\"\
    \ target=\"_blank\">Go to TextMagic Sandbox</a>\n\n## The credentials area\nTo\
    \ make requests using your TextMagic account, you need to enter your account `username`\
    \ and your `API key` into\nthe corresponding fields. To enter them, click the\
    \ **Authorize** button which you can find at the top-right corner of the page.\n\
    \nThe credentials modal window will be shown. Put your `username` and `API key`\
    \ in and press the **Authorize** button, as shown in the image below:\n\n<p style=\"\
    text-align: center\">\n\t<img srcset=\"images/sandbox_auth_modal_x1.png 1x, images/sandbox_auth_modal_x2.png\
    \ 2x\" style=\"width:600px;\">\n<p>\n\n## Command documentation\n\nTo view the\
    \ documentation for a command, i.e. its parameters, filters, output format and\
    \ return codes, simply click on its name:\n\n<img srcset=\"images/sandbox_try_1_x1.png\
    \ 1x, images/sandbox_try_1_x2.png 2x\">\n\n## How it works\n\nSandbox allows you\
    \ to test the TextMagic REST API directly from your browser. No programming skills\
    \ are required. To use Sandbox, simply click on the entry for the command you\
    \ want to test and then press on the \"Try it out\" button, which is underlined\
    \ in the image above.\n\nAs an example, let's look at a **create template** request:\n\
    \n<img srcset=\"images/sandbox_try_2_x1.png 1x, images/sandbox_try_2_x2.png 2x\"\
    >\n\nEnter the required parameters by editing the input JSON structure (just use\
    \ the provided example) and then click **Execute** to make a request. The URL\
    \ corresponds to the command you wish to use, e.g. `/api/v2/templates` corresponds\
    \ to the templates command.\n\nYou will receive an HTTP response code along with\
    \ a JSON response body showing whether the request was successful or not. You\
    \ will find additional information provided in the HTTP response headers **Response\
    \ Body** and the **Response Header** section.\n\n<img srcset=\"images/sandbox_try_3_x1.png\
    \ 1x, images/sandbox_try_3_x2.png 2x\">\n\nWe have now **successfully created**\
    \ a new message template and saved it to the TextMagic database. It was created\
    \ with an `ID` value of `631`. Now we can send a message using this template via\
    \ API or TextMagic Online.\n\nLet’s retrieve the template now to verify that its\
    \ content was saved correctly. To do this, use the GET `/api/v2/templates/{id}`\
    \ command. Open it, enter the **template id** you obtained in the previous step\
    \ and click **Execute**.\n\n<img srcset=\"images/sandbox_try_4_x1.png 1x, images/sandbox_try_4_x2.png\
    \ 2x\">"
  x-virtual: true
- name: "Outbound Messages"
  description: "The primary reason for using the TextMagic API is to send SMS text\
    \ messages. \n\n# Tutorials\n\n## How to send a single text message\n\nTo send\
    \ a simple text message to one recipient, you should set only the `text` and the\
    \ `phones` parameters. `text` should\ncontain that desired text and `phones` should\
    \ be set to the recipient’s international phone number.\n\nFor example, to send\
    \ an SMS message with the text “I love TextMagic” to the phone number +44 (0)\
    \ 7 860021130, use the command:\n\n> POST https://rest.textmagic.com/api/v2/messages\n\
    \nwith the following parameters:\n\n| Parameter | Value |\n| --------- | -----\
    \ |\n| text |I love TextMagic (don’t forget to urlencode your string!) |\n| phones\
    \ | 447860021130 |\n\nYou will receive a result like this:\n\n| Parameter | Example\
    \ |\n| --------- | ------- |\n| id | 49576009 |\n| href | /api/v2/messages/49576009\
    \ |\n| type | message |\n| sessionId | 34436600 |\n| bulkId | null |\n| messageId\
    \ | 49576009 |\n| scheduleId | null |\n\nAs long as you have sent a message to\
    \ at least one recipient, the TextMagic API will return not only the session ID,\n\
    but also the single message ID. Also, you can watch for the delivery status changes\
    \ using this ID without\nfetching session messages first. Since this is not a\
    \ bulk session or scheduled message,\n`bulkId` and `scheduleId` are null.\n\n\
    ## How to send bulk text messages\nYou can also send a message to many recipients\
    \ simultaneously. Let’s see how it’s done in the example below.\n\nAssuming that\
    \ you have a list ID 55314 (with 100 recipients), write:\n\n> POST https://rest.textmagic.com/api/v2/messages\n\
    \n| Parameter | Value |\n|-----------|-------|\n| **text** | `Hello, how are you?`\
    \ |\n| **lists** | `55314` |\n| **phones** | `447860021130,447860021131,447860021132,447860021134`\
    \ |\n| **contacts** | `318,395,3348015` |\n\nYou will receive a result like this:\n\
    \n|Parameter|Example|\n|---------|-------|\n|**id**|`357122`|\n|**href**|`/api/v2/sessions/357122`|\n\
    |**type**|`session`|\n|**sessionId**|`357122`|\n|**bulkId**|`null`|\n|**messageId**|`null`|\n\
    |**scheduleId**|`null`|\n\n## Sending more than 1,000 messages in one session\n\
    A **Bulk session** in TextMagic is when you send a message to more than 1,000\
    \ recipients. Since processing such a large session could take a long time (i.e.\
    \ more than a few seconds), the messages are stored in a queue temporarily. You\
    \ can check the progress of the messages by sending a **GET\_**to:\n> GET /api/v2/bulks/{id}\n\
    \nAssuming that you have list ID 55315 with more than 1,000 recipients, call:\n\
    \n> POST https://rest.textmagic.com/api/v2/messages\n\nwith the following parameters:\n\
    \n|Parameter|Value|\n|---------|-----|\n|**templateId**|`10541`|\n|**lists**|`55315`|\n\
    \nYou will receive a result like this:\n\n|Parameter|Example|\n|---------|-------|\n\
    |**id**|`357122`|\n|**href**|`/api/v2/bulks/357122`|\n|**type**|`bulk`|\n|**sessionId**|`null`|\n\
    |**bulkId**|`357122`|\n|**messageId**|`null`|\n|**scheduleId**|`null`|\n\nAs you\
    \ can see, the **session** has not been created yet; it will be created after\
    \ processing all the contacts you supplied during the request.\n\n## How to send\
    \ a text message using an SMS template\n\nNext, let’s try to send an SMS to a\
    \ contact list using a message template instead of specifying the message text.\
    \ An extra feature we can use is the\_[Custom fields](https://docs.textmagic.com/#tag/Custom-Fields)\
    \ tags, which we can apply to send personalized texts to all recipients.\n\nLet’\
    s assume that you have these items:\n\n*   a contact list with ID 10541 (with\
    \ two or more contacts) – you can use test number 999;\n*   the message template\
    \ with ID 55313 (with **First name** and **Last name** tags) – when you sign up\
    \ for a TextMagic account, you automatically receive several message templates,\
    \ such as **Callback request** or **Booking confirmation**, and you can use any\
    \ of them;\n*   a sufficient balance in your account to send this SMS message\
    \ to the contact list.\n\n> POST https://rest.textmagic.com/api/v2/messages\n\n\
    with the following parameters:\n\n|Parameter|Value|\n|---------|-----|\n|**templateId**|`10541`|\n\
    |**lists**|`55313`|\n\nYou will receive a result like this:\n\n|Parameter|Example|\n\
    |---------|-------|\n|**id**|`34436613`|\n|**href**|`/api/v2/sessions/34436613`|\n\
    |**type**|`session`|\n|**sessionId**|`34436613`|\n|**bulkId**|`null`|\n|**messageId**|`null`|\n\
    |**scheduleId**|`null`|\n\nThis is a sending session with more than one recipient\
    \ (but fewer than 1,000);\_see the notes above about sending bulk messages. We\
    \ cannot select just one message from this session, so the **messageId** is also\
    \ empty. However, you can\_[get the session for the messages](https://docs.textmagic.com/#tag/Outbound-Message-Sessions)\
    \ and then fetch the messages one by one.\n\n## How to send a text message with\
    \ an attachment\n\nText messages can include only text symbols. If you need to\
    \ send a PDF document or an image, you need to upload it to a cloud storage service\
    \ first and then insert a link to this document it into your text message. TextMagic\
    \ offers an Attachments feature which allows you to upload your document to the\
    \ TextMagic servers and get a relatively short download link. After that, you\
    \ just need to insert the link into your message text.\n\nTo upload an attachment,\
    \ use:\n\n> POST https://rest.textmagic.com/api/v2/messages/attachment\n\nwith\
    \ a single parameter:\n\n|Parameter|Value|Description|\n|---------|-----|-----------|\n\
    |**file**|`[multipart/form-data]`|Your request with attachment should be sent\
    \ in `multipart/form-data` format.**Note:** Only .jpg, .gif, .png, .pdf, .txt,\
    \ .csv, .doc, .docx, .xls, .xlsx, .ppt, .pptx & .vcf attachment files up to 10\
    \ MB are supported.|\n\nYou will receive a result like this:\n\n|Parameter|Example|Description|\n\
    |---------|-------|-----------|\n|**href**|`click/Zwcj9`|This is a relative link\
    \ to your file. To construct a full link, just add “https://my.textmagic.com/”\
    \ to the beginning (like this: [https://my.textmagic.com/click/Zwcj9](https://my.textmagic.com/click/Zwcj9)).\
    \ For most modern devices, you can omit “https://” part and write just [my.textmagic.com/click/Zwcj9](https://my.textmagic.com/click/Zwcj9),\
    \ it will save you 8 characters.|\n|**chars**|`/api/v2/sessions/11`|`href` field\
    \ characters count.|**name**|`screen.png`|Original file name that will be displayed\
    \ on the download/preview page.|\n|**size**|`1094`|Attachment size in bytes.|\n\
    \nIt's as simple as that. Now you can send a text message with this link as described\
    \ above.\n\n# Delivery status callback\n\nA callback is a mechanism that posts\
    \ the JSON body of a sent message to the URL on a server that you specify. The\
    \ server application which receives the callback can check the message status\
    \ and trigger actions based on that data.\n\nHere is how to set up the delivery\
    \ status callback URL:\n\n1.  [Log in](https://my.textmagic.com/) to TextMagic\
    \ (or [start a free trial](https://my.textmagic.com/register/) if you haven’t\
    \ registered yet).\n2.  Go to the\_[API](https://my.textmagic.com/online/api/rest-api/keys)\
    \ page.\n3.  Enter your callback URL into the\_**Callback URL for delivery notifications**\
    \ field.\n4.  Click the\_**Test** button to test your URL.\n5.  If it’s successful,\
    \ click **Save changes**.\n\nYour server should reply with an **200 OK** response\
    \ at this URL. If it does not, your callback URL will be treated as invalid and\
    \ the inbound messages will not be passed to your application.\n\n### Call parameters\n\
    \nYour callback URL will be triggered immediately when the sent message status\
    \ changes. The parameters are passed by the **POST** method and contain the following\
    \ information (i.e. exact copy of the **message** resource plus custom **referenceId**,\
    \ if you have specified it when sending the message via **POST /api/v2/messages**).\
    \ The\_Resource format is basically the format of the reply when making the request\
    \ to the specific API resource.\n\n|Parameter|Example|Description|\n|---------|-------|-----------|\n\
    |**id**|`4991`|Message ID.|**sender**|\n|**sender**|`447624800500`|Message sender\
    \ (phone number or alphanumeric Sender ID).|\n|**receiver**|`447860021130`|\n\
    |Recipient phone number.|**text**|`Hello John!`|\n|Message text (after tags substitution,\
    \ if any).|\n|**price**|`0.25`||Message cost (in account currency).|\n|**status**|`d`|Delivery\
    \ status of the message. Please see the table at the [Sessions](https://docs.textmagic.com/#section/Delivery-status-codes)\
    \ section to see different delivery statuses.|\n|**partsCount**|`2`|Message parts\
    \ (multiples of 160 characters) count.|\n|**messageTime**|`2015-06-19T09:48:24+0000`|Sending\
    \ time.|\n|**charset**|`UTF-16BE`|Message charset. Could be:*   **ISO-8859-1**\
    \ for plaintext SMS*   **UTF-16BE** for Unicode SMS\n|**firstName**|`John`|Contact\
    \ first name. Could be substituted from your [Contacts](https://docs.textmagic.com/#tag/Contacts)\
    \ (even if you submitted phone number instead of contact ID).|\n|**lastName**|`Conway`|Contact\
    \ last name.|\n|**country**|`DK`|Two-letter ISO country code of the recipient\
    \ phone number.|\n|**referenceId**|`my-reference-id-319`|Custom message reference\
    \ ID. You can use your internal IDs to identify the DLRs more easily when doing\
    \ **POST /api/v2/messages**.|\n\n# Delivery status codes\n\nBelow you’ll find\
    \ several delivery statuses for sent messages, which are divided into two types:\n\
    *   **intermediate** – temporary statuses that can change as the messages are\
    \ processed;\n*   **final** – these statuses that are final and will not change.\n\
    \n| Delivery status | Type | Description |\n|-----------------|------|-------------|\n\
    | **a** | intermediate | The mobile operator has acknowledged the message. |\n\
    | **b** | intermediate |The mobile operator has queued the message. |\n| **d**\
    \ | final | The message has been successfully delivered to the handset. |\n| **e**\
    \ | final | An error occurred while sending the message. |\n| **f** | final |\
    \ An error occurred while delivering the message. |\n| **j** | final | The mobile\
    \ operator has rejected the message. |\n| **q** | intermediate | The message is\
    \ queued on the TextMagic server. |\n| **r** | intermediate | The message has\
    \ been sent to the mobile operator. | \n| **s** | intermediate |This message is\
    \ scheduled to be sent later. |\n| **u** | final | The status is unknown. |\n"
  x-displayName: "Messages: Send\n"
- name: "Inbound Messages"
  description: "With the TextMagic API, you can establish a full two-way communication\
    \ pipeline for sending and receiving text messages within your application.\n\n\
    ## Incoming messages callback\n\nA callback is a mechanism that posts the JSON\
    \ body of a received message to the URL on a server that you specify. The server\
    \ application which receives the callback\ncan save the message data into a database,\
    \ send user notifications, etc.\n\nHere is how to set up the incoming messages\
    \ callback URL:\n\n1.  [Log in](https://my.textmagic.com/) to TextMagic (or [start\
    \ a free trial](https://my.textmagic.com/register/) if you haven’t registered\
    \ yet).\n2.  Go to the\_[API](https://my.textmagic.com/online/api/settings) page.\n\
    3.  Enter your callback URL into the\_**Callback URL for incoming messages** field.\n\
    4.  Click the\_**Test** button to test your URL.\n5.  If it’s successful, click\
    \ **Save changes**.\n\nYour server should reply with an **200 OK** response at\
    \ this URL. If it does not, your callback URL will be treated as invalid and the\
    \ inbound messages will not be passed to\nyour application.\n\n### Call parameters\n\
    \nYour callback URL will be triggered immediately after a message reaches the\
    \ TextMagic server. The parameters are passed by the **POST** method and contain\
    \ the following\ninformation (i.e. an exact copy of the **reply** resource). The\_\
    Resource format is basically the format of the reply when making the request to\
    \ the specific API resource.\n\n| Parameter | Example | Description |\n| ---------\
    \ | ------- | ----------- |\n| **id**    | `1782832`| Inbound message ID. |\n\
    | **sender** | `447860021130` | Sender phone number. |\n| **receiver** | `447624800500`\
    \ | Receiver phone number (i.e. **your** dedicated or shared reply number). |\n\
    | **messageTime** | `2012-11-28T18:38:28+0000` | The time when the message reached\
    \ the TextMagic server. |\n| **text** | `Test reply` | Inbound message text. |\n"
  x-displayName: "Messages: Receive\n"
- name: "Scheduled Messages"
  description: "You can schedule text messages to be sent at a later date or time,\
    \ or you can create recurring text message sessions with TextMagic API. Below\
    \ is a detailed overview of how to do both.\n"
  x-displayName: "Messages: Schedule\n"
- name: "Outbound Message Sessions"
  description: "When you send an SMS to more than one recipient, it is collected as\
    \ one **message session**. However, the text in your messages (in one session)\
    \ \nmay vary and you can send personalized texts using [Templates](https://docs.textmagic.com/#tag/Templates).\
    \ But first, let’s learn how to manage SMS sessions \nvia the TextMagic API."
  x-displayName: "Sessions"
- name: "Lists"
  description: "With the Lists API, you can arrange your database contacts into different\
    \ lists for sending targeted bulk text messages."
  x-displayName: "Lists"
- name: "Contacts"
  description: "To make sending messages easier, you can use contacts instead of phone\
    \ numbers. Your contacts will be safely kept on TextMagic servers and will be\
    \ available from any location. This page shows how to create, edit and delete\
    \ contacts."
  x-displayName: "Contacts"
- name: "Custom Fields"
  description: "With custom fields, you can store custom data in contacts and use\
    \ the data with\_[Templates](https://docs.textmagic.com/#tag/Templates)."
- name: "Contact Notes"
  description: ""
- name: "Two Factor auth"
  description: "You can easily verify your customers using their phone numbers with\
    \ the help of 2FA (better known as two-factor authentication) and protect against\
    \ fraud, build trust, and increase conversions. There is a simple way to do this\
    \ with an API call to a TextMagic endpoint. With the help of TextMagic API, you\
    \ can:\n\n*   Send two-factor authentication messages (2FA);\n*   Send one-time\
    \ passwords (OTP);\n*   Integrate passwordless login into your app;\n*   Protect\
    \ your app from fraud.\n\n## How does it work?\n\n* **Step 1:** Your server makes\
    \ an API call to the TextMagic endpoint, and we send a text message (and later,\
    \ as a fallback, a generate a text-to-speech voice call) with a verification code\
    \ to the phone number supplied in the initial request.\n\n* **Step 2:** Once the\
    \ code is received, the user enters it into the relevant input field in your app.\
    \ This code needs to be passed to TextMagic in the second API call; if it is correct,\
    \ the server will respond with the correct response code. This way, you can ensure\
    \ that the recipient really owns the phone number entered into your app or form.\n\
    \n## Verification workflow\n\nTextMagic verification API sends a PIN code by text\
    \ message and follows up with two subsequent voice calls if the request wasn’\
    t completed or canceled. Below you will find the description of the default workflow.\n\
    \n1.  Send **a text message** with a verification code.\n2.  _Wait for 60 seconds._\n\
    3.  If the correct code was not supplied, send **the first text-to-speech**\_\
    voice call.\n4.  _Wait for 60 seconds._\n5.  If the code was not supplied, send\
    \ **the second text-to-speech**\_voice call.\n6.  _Wait for the verification._\
    \ The verification code is **valid for 5 minutes** from the time of the initial\
    \ request.\n\n> **Please note:**\_Submitting another verification request for\
    \ the same phone number before the original code has expired will result in a\
    \ 409 error code. The new verification request can be submitted only once the\
    \ previous code has expired (after 5 minutes) or canceled.\n"
  x-displayName: "Two-factor authentication"
- name: "Chats"
  description: "In TextMagic, an SMS chat is a convenient grouping of inbound and\
    \ outbound messages, addressed to specified recipients and arranged as a sorted\
    \ list. Take a look at the [SMS Chat](https://docs.textmagic.com/#tag/Chats) feature\
    \ in TextMagic Online. Under the hood, this feature is represented by the **chat**\
    \ resource.\n"
  x-displayName: "Chats"
- name: "Templates"
  description: "Templates can save time and effort when the same message format is\
    \ required. Furthermore, \nyour customers will receive personalized messages even\
    \ when you’ve applied templates. \nAll you have to do is insert the embed **tags**\
    \ into the template text.\n\n## Custom fields list (Merge tags)\n\nAll tags should\
    \ be inputted inside curly braces (e.g., `{First name}` for **First name**).\n\
    \n| Tag | Description |\n|-----|-------------|\n| **First name** | Contact first\
    \ name. |\n| **Last name** | Contact last name. |\n| **Company name** | Contact\
    \ company. |\n| **Phone** | Contact phone number. |\n| **Email** | Email. |\n\
    | [Custom fields](https://docs.textmagic.com/#tag/Custom-Fields) | Contact custom\
    \ field values. |"
  x-displayName: "Templates"
- name: "Send Email to SMS"
  description: ""
  x-virtual: true
- name: "Receive SMS to Email"
  description: "When someone replies to an SMS you’ve sent via email to the SMS service,\
    \ the reply will be sent to the originating email address. This means that you\
    \ can simply reply to all incoming emails from the TextMagic service and the recipient\
    \ will receive the reply as an SMS.\n\n## How to set up incoming SMS alerts\n\n\
    To set up an incoming messages notification:\n\n1.  [Log in](https://my.textmagic.com/)\
    \ to TextMagic (or [start a free trial](https://my.textmagic.com/register/) if\
    \ you haven’t registered yet).\n2.  Go to [Incoming SMS alerts](https://my.textmagic.com/online/account/notifications/incoming).\n\
    3.  To turn on the receiving **SMS to Email** service, enable the\_**New incoming\
    \ SMS** option.\n4.  If you want the last ten messages from your conversation\
    \ included in the email reply, turn on the **Recent Chat History** feature.\n\n\
    > Normally, the reply is sent to the email address that started the conversation.\
    \ For example, if you sent an email from **charles@example.com** to [447971001234@textmagic.com](mailto:447971001234@textmagic.com)\_\
    and the recipient replied to that address, that reply will be sent to **charles@example.com**\
    \ by default. However, you can also nominate up to three additional email addresses\
    \ to receive a copy of that email. Add them into the **Forward incoming SMS to\
    \ email 1**, **2** or **3** fields.\n\n## Incoming SMS email alert (example)\n\
    \nWhen someone replies to a message you sent using\_**Email To SMS**, TextMagic\
    \ will forward the reply to your email.\n\n| Variable | Value |\n|-------|-------|\n\
    | From: | 4912345678@textmagic.com |\n| Body: | Hi, I just received your message.\
    \ Phil. |\n"
  x-virtual: true
- name: "Distribution Lists"
  description: "In this section, you’ll learn how to forward your emails as text messages\
    \ to one or even to hundreds of people and learn how to never miss another alert\
    \ or notification.\n\n## How distribution lists work\n\nAll emails sent to your\
    \ SMS distribution list email addresses will be immediately forwarded as text\
    \ messages to all the mobile phone numbers in that distribution list. You can\
    \ read more about distribution lists from our [marketing site](https://www.textmagic.com/sms-distribution-lists/)\
    \ or [help center](https://support.textmagic.com/article/how-to-forward-to-distribution-list-members-via-email-to-sms/).\n\
    \n## How to create a distribution list\n\nTo create a distribution list:\n\n1.\
    \  Go to [Distribution lists](https://my.textmagic.com/online/emailtosms/distribution-lists).\n\
    2.  Click **New distribution list**.\n3.  Give your list a name.\n4.  Add recipients\
    \ (phone numbers, contacts or lists).\n5.  Choose the content and message length\
    \ settings.\n6.  Choose what phone number will be sent with the messages. Click\
    \ here to learn more about [sender settings](https://support.textmagic.com/article/how-to-manage-sender-settings/).\n\
    7.  Click **Continue**.\n\nNow you can set up forwarding in your email application\
    \ or send emails to the distribution address.\n\n> Anyone who knows the email\
    \ address associated with your distribution list could send an email to it. This\
    \ could result in several messages being sent from your account. Therefore, it\
    \ is advised that you don’t use this email address for signing up an account or\
    \ share it with the public. Keep it secret.\n\n## Distribution list usage (example)\n\
    \nLet’s imagine we’ve created a distribution list `fe5436332432733@textmagic.com`\
    \ and have added `+447812345678`, `+447812345679`, `+447812345670` numbers as\
    \ recipients.  \n  \nIn order for all of them to receive the text message, we\
    \ send an email with following details:\n\n| Variable | Value |\n|-------|-------|\n\
    | From: | `your_email@yourdomain.com` |\n| To: | `fe5436332432733@textmagic.com`\
    \ |\n| Subject: | You can leave the subject blank. |\n| Body: |  `Server downtime\
    \ started 10:32:02 UTC. Please react ASAP.`|\n\nAs a result, all three recipients\
    \ will receive the text message and will be able to react quickly to fix the server\
    \ issue.\n\n> You can also include TextMagic contact **lists** and separate **contacts**\
    \ in the distribution list’s recipients field to avoid having to add numbers one\
    \ by one."
  x-virtual: true
- name: "Sender Settings"
  description: "In this section, you’ll learn about the different sender settings\
    \ and how to set the reply number in messages.\n\n## The differences among sender\
    \ settings\n\nBy default, the SMS you’ve sent will use the reply numbers that\
    \ are shared among all your customers.* Those can be used for free. However, to\
    \ personalize the number, there are four different sender settings:\n\n| Feature\
    \ | Shared reply number | Dedicated number | Alphanumeric Sender ID | Own mobile\
    \ number | \n|---------|---------------------|------------------|------------------------|-------------------|\n\
    | Can receive replies | Yes | Yes | No | To mobile |\n| Is shared among sub-accounts\
    \ | Yes | No | Yes | No | \n| Monthly fee | FREE | From £2.40 | FREE | FREE\n\n\
    \\* \_Even though the numbers are shared, each customer can see only their own\
    \ replies. [Read more](https://support.textmagic.com/faq/what-is-the-difference-between-dedicated-number-and-shared-number/)."
  x-displayName: "Overview"
- name: "Sender IDs"
  description: "Sender ID allows you to show your company name instead of the reply\
    \ number.\n\n## What is an alphanumeric Sender ID?\nSender IDs allow you to send\
    \ personalized text messages that do not need a reply. You can apply for Sender\
    \ IDs that are closely connected to your business; for example, **HotPizza**,\
    \ **ITDelivery**, **Insurance**. This is the best solution for transactional SMSs\
    \ with order confirmations or temporary security codes.\n\n> All Sender IDs are\
    \ reviewed by our support team.\n \n> Note, in [several countries](https://support.textmagic.com/article/how-to-understand-sender-setting-restrictions/)\_\
    the sender ID feature is not supported. Please test before using it in real sending\
    \ sessions.\n \n "
- name: "User"
  description: "You can browse and modify your account information via the TextMagic\
    \ SMS API. This page will explain how to do that."
  x-displayName: "Account"
- name: "User Subaccounts"
  description: "You can use the TextMagic SMS API to invite other people to become\
    \ sub-accounts. You can also manage them as and when needed.\n\n## Sub-account\
    \ roles\n\nThere are two types of sub-account: regular user and administrator.\n\
    \n*   A **regular** **user** sub-account allows the user to do everything except\
    \ buy SMS credit and manage other sub-accounts.\n*   An **administrator** sub-account\
    \ gives the user access to all features including buying SMS credit and managing\
    \ other sub-accounts.\n\n> Only parent users and administrators can manage sub-accounts."
  x-displayName: "Sub-Accounts"
- name: "Statistic"
  description: "You can get detailed sent messages reports and user statements for\
    \ a selected period of time using TextMagic SMS API commands."
  x-displayName: "Statistics"
- name: "Billing"
  description: "With the TextMagic API, you can check the invoices and transactions\
    \ for your account.\n\n> Only parent users and administrator sub-accounts can\
    \ view invoices."
  x-displayName: "Invoices"
- name: "Response Codes"
  description: "All of the possible response codes you can get from the TextMagic\
    \ API are described on this page.\n\n## HTTP response codes\n\nWhen you make a\
    \ request to the TextMagic REST API, you will receive a response that represents\
    \ the new or modified object state (when you use\_**GET**/ **POST**/ **PUT**\_\
    methods) or a success message (when you\_**DELETE** a\_resource). But if something\
    \ goes wrong, instead of **20x,**\_you will get a different status code. Here\
    \ are all the possible response codes:\n\n| Code | Explanation|\n|------|-----------\
    \ |\n| 200 OK| Common OK status code. Request was successful.|\n| 201 Created|\
    \ A resource has been created or updated successfully.|\n| 202 Accepted| Request\
    \ accepted and is being processed.|\n| 204 No content| Resource deleted successfully.|\n\
    | 302 Found| Redirect. Your code should follow the address specified in the\_\
    **Location**\_header.|\n| 400 Bad request| Invalid parameters specified: some\
    \ required parameters are missing or malformed. Check the corresponding command\
    \ documentation.|\n| 401 Unauthorized| Current user has no rights to perform the\
    \ specified action. For example, regular users cannot view [Invoices](https://docs.textmagic.com/#tag/Billing)\
    \ or [Sub-Accounts](#tag/User-Subaccounts).|\n| 404 Not found| Resource not found.|\n\
    | 429 Too many requests| Request limit reached. Please try again later.| \n| 500\
    \ Internal server error| Internal server error has occurred. Please try again\
    \ later.|\n| 503 Service unavailable | Service is unavailable due to maintenance.|\n\
    \n## Error responses\nIn case of an error, the TextMagic API responds with one\
    \ of the HTTP error codes (4xx-5xx as shown below) and returns these common error\
    \ responses.\n<SchemaDefinition schemaRef=\"#/components/schemas/BadRequestResponse\"\
    \ />\n\n## Link responses\nWhen you create or update some resource (via\_ **POST**\
    \ and\_ **PUT\_**requests) you will get a link response:\n\n<SchemaDefinition\
    \ schemaRef=\"#/components/schemas/ResourceLinkResponse\" />\n\n## Delete responses\n\
    When you delete something, a delete response will be returned. The response body\
    \ will be empty and the HTTP code will show\_**204 No Content**."
  x-virtual: true
- name: "Restrictions and Limits"
  description: "The TextMagic SMS API has only one restriction and two limitations.\
    \ Learn more about them below. \n\n## Number format restriction\nYou must use\
    \ the [E.164](https://en.wikipedia.org/wiki/E.164) phone number format during\
    \ the API request as no local phone formats are accepted (i.e. use **447045678945**\
    \ instead of **070 4567 8945**). This restriction has been applied to ensure delivery\
    \ to the desired number without any accidental local-to-international phone transformations.\n\
    \n## Maximum “limit” parameter value\nCommands that return an array of resources\
    \ (e.g. GET /api/v2/messages) can take the **limit** parameter, which can be between\
    \ `1` and `100`, otherwise it will be replaced with the default value of `10`.\n\
    \n## API request frequency limit\nYou may not execute more than **20 requests\
    \ per second**. If you do, a `429 Too Many Requests` error will be returned. Please\
    \ note that you can use contacts, lists and templates for [sending multiple messages](/docs/api/send-sms/#send-bulk-text-messages)\
    \ simultaneously per request."
  x-virtual: true
- name: "Encoding"
  description: "The text-message parameters should be encoded in the UTF-8 character\
    \ set. All non-ASCII characters in command parameters should be [encoded](https://en.wikipedia.org/wiki/Percent-encoding).\
    \ The primary role of URL encoding is to encode URL strings into a form that can\
    \ be passed via email or scripted-web links without altering the actual content\
    \ in any way.\n\n## Supported character sets\n\n### GSM 03.38 encoding\n\nThe\
    \ standard SMS mobile-phone character set is used universally to send text messages.\
    \ You can send a longer text message by using only GSM 03.38 characters. The standard\
    \ character set allows up to 160 characters, and includes the Latin\_alphabet\
    \ and the most common accented forms, certain special characters, and the Greek\
    \ alphabet. It includes the following characters:\n\n<pre style='font-family:\
    \ Monaco,Monako,Menlo,Consolas,courier new,monospace!important'>\n@   Δ    SP\
    \   0    ¡    P    ¿    p\n£   _    !    1    A    Q    a    q\n$   Φ    \"  \
    \  2    B    R    b    r\n¥   Γ    #    3    C    S    c    s\nè   Λ    ¤    4\
    \    D    T    d    t\né   Ω    %    5    E    U    e    u\nù   Π    &    6  \
    \  F    V    f    v\nì   Ψ    '    7    G    W    g    w\nò   Σ    (    8    H\
    \    X    h    x\nÇ   Θ    )    9    I    Y    i    y\nLF  Ξ    *    :    J  \
    \  Z    j    z\nØ   ESC  +    ;    K    Ä    k    ä\nø   Æ    ,    <    L    Ö\
    \    l    ö\n</pre>\n\n**Note**: An escape character always precedes the characters\
    \ `{ } \\ ~ [ ] | ^ €`, which therefore takes two characters to send.\n\n### Unicode\n\
    \nWhen using non-GSM 03.38 characters, SMS transmits the message as a Unicode\
    \ message. Unicode character support also provides the capability to send a message\
    \ in Arabic, Japanese, Russian, Chinese and other alphabets.\n\n## Message length\n\
    \n### GSM 03.38 encoding\n\nSingle text messages are limited to 160 characters,\
    \ including spaces. However, to get around this restriction, messages can be linked\
    \ together (up to 6 parts) to form one long message.\n\nIn reality, each concatenated\
    \ text message is limited to 153 characters rather than 160 due to the need for\
    \ user-data header (UDH) information. This applies only to messages that contain\
    \ the standard GSM 03.38 character set. Mobile phones use UDH information to enable\
    \ them to link long messages together so that they appear as a single SMS message\
    \ in the recipients’ inboxes.\n\n| Number of SMSs | Total number of characters\
    \ in the linked message|\n|----------------|-------------------------------------------------|\n\
    | 1| 160|\n| 2| 306|\n| 3| 459|\n| 4| 612|\n| 5| 765|\n| 6| 918|\n\n### Unicode\n\
    \nUsing Unicode (for Russian, Arabic and Chinese languages) restricts messages\
    \ to a maximum of 70 characters per SMS. You can, however, send longer text messages\
    \ with our system by splitting them into two or at the most three separate text\
    \ messages. The table below gives the maximum lengths of two or more parts of\
    \ a concatenated Unicode text message.\n\n| Number of SMSs|Total number of characters\
    \ in the linked message|\n|---------------|------------------------------------------------|\n\
    |1|70|\n|2|134|\n|3|201|\n|4|268|\n|5|335|\n|6|402|\n"
  x-virtual: true
- name: "SDKs"
  description: "The TextMagic SMS API PHP wrapper can save you a lot of time, as it\
    \ includes all the necessary API commands and tests. It only takes a few seconds\
    \ to download it from GitHub and to install it into your own app or software.\
    \ After installation, you'll then be able to send text messages.\n\n### License\n\
    These SDK libraries are available as open source under the terms of the [MIT License](http://opensource.org/licenses/MIT).\n\
    \n### Support\nIf you need help with the wrapper or if you have any suggestions\
    \ for improvements, please contact us by emailing\_[support@textmagic.com](mailto:support@textmagic.com).\n\
    # PHP\n\n<a class=\"github-button\" href=\"https://github.com/textmagic/textmagic-rest-php-v2\"\
    \ data-show-count=\"true\" aria-label=\"Star textmagic/textmagic-rest-php-v2 on\
    \ GitHub\">Star</a>\n\nThis library provides you with an easy way of sending SMS\
    \ and receiving replies by integrating TextMagic SMS Gateway into your PHP application.\n\
    \n[Get it now on GitHub](https://github.com/textmagic/textmagic-rest-php-v2)\n\
    ## Requirements\n\nPHP 5.5 and later.\n\n## Installation\n### Composer\n\nTo install\
    \ the bindings via [Composer](http://getcomposer.org/), add the following to `composer.json`:\n\
    \n```javascript\n{\n    \"repositories\": [\n        {\n            \"type\":\
    \ \"git\",\n            \"url\": \"https://github.com/textmagic/textmagic-rest-php-v2.git\"\
    \n        }\n    ],\n    \"require\": {\n        \"textmagic/textmagic-rest-php-v2\"\
    : \"dev-master#v2.0.929\"\n    }\n}\n```\n\nThen run `composer install`\n\n###\
    \ Manual Installation\n\nDownload the files and include `autoload.php`:\n\n```php\n\
    require_once(__DIR__.'/vendor/autoload.php');\n```\n\n## Usage Example\n\nPlease\
    \ follow the [installation](#installation) instructions and execute the following\
    \ PHP code:\n\n```php\nrequire_once(__DIR__ . '/vendor/autoload.php');\n\nuse\
    \ TextMagic\\Models\\SendMessageInputObject;\nuse TextMagic\\Api\\TextMagicApi;\n\
    use TextMagic\\Configuration;\n\n$config = Configuration::getDefaultConfiguration()\n\
    \    ->setUsername('YOUR_USERNAME')\n    ->setPassword('YOUR_PASSWORD');\n\n$api\
    \ = new TextMagicApi(\n    new GuzzleHttp\\Client(),\n    $config\n);\n\n// Simple\
    \ ping request example\ntry {\n    $result = $api->ping();\n    print_r($result);\n\
    } catch (Exception $e) {\n    echo 'Exception when calling TextMagicApi->ping:\
    \ ', $e->getMessage(), PHP_EOL;\n}\n\n// Send a new message request example\n\
    $input = new SendMessageInputObject();\n$input->setText('Test message test');\n\
    $input->setPhones('+19993322111,+19993322110');\n\ntry {\n    $result = $api->sendMessage($input);\n\
    \    print_r($result);\n} catch (Exception $e) {\n    echo 'Exception when calling\
    \ TextMagicApi->sendMessage: ', $e->getMessage(), PHP_EOL;\n}\n\n// Get all outgoing\
    \ messages request example\ntry {\n    $result = $api->getAllOutboundMessages(1,\
    \ 10);\n    print_r($result);\n} catch (Exception $e) {\n    echo 'Exception when\
    \ calling TextMagicApi->getAllOutboundMessages: ', $e->getMessage(), PHP_EOL;\n\
    }\n\n// Upload an avatar for a contacts list (group) example. 3223 number here\
    \ it is sample list ID\ntry {\n    $file = new SplFileObject(\"test.jpg\");\n\
    \    $result = $api->uploadListAvatar($file, 3223);\n    print_r($result);\n}\
    \ catch (Exception $e) {\n    echo 'Exception when calling TextMagicApi->uploadListAvatar:\
    \ ', $e->getMessage(), PHP_EOL;\n}\n\n```\n# Node.js\n\n<a class=\"github-button\"\
    \ href=\"https://github.com/textmagic/textmagic-rest-nodejs-v2\" data-show-count=\"\
    true\" aria-label=\"Star textmagic/textmagic-rest-nodejs-v2 on GitHub\">Star</a>\n\
    \nThis library provides you with an easy way of sending SMS and receiving replies\
    \ by integrating TextMagic SMS Gateway into your Node.js application.\n\n[Get\
    \ it now on GitHub](https://github.com/textmagic/textmagic-rest-nodejs-v2)\n##\
    \ Installation\n\n```shell\nnpm install textmagic-client@2.0.929 --save\n```\n\
    \n## Usage Example\n\nPlease follow the [installation](#installation) instructions\
    \ and execute the following JS code:\n\n```javascript\nconst textmagicClient =\
    \ require('textmagic-client');\n\nconst fs = require('fs');\nconst client = textmagicClient.ApiClient.instance;\n\
    const auth = client.authentications['BasicAuth'];\n\nauth.username = 'YOUR_USERNAME';\n\
    auth.password = 'YOUR_PASSWORD';\n\nconst api = new textmagicClient.TextMagicApi();\n\
    \n// Simple ping request example\napi.ping().then(function (data) {\n    console.log(data.ping);\n\
    }).catch(function(err){\n    console.error(err);\n});\n\n// Send a new message\
    \ request example\napi.sendMessage({\n    'text': 'I love TextMagic!',\n    'phones':\
    \ '+12341234123'\n}).then(function (data) {\n    console.log(data.id);\n}).catch(function(err){\n\
    \    console.error(err);\n});\n\n// Get all outgoing messages request example\n\
    api.getAllOutboundMessages({\n    'page': 1,\n    'limit': 200\n}).then(function\
    \ (data) {\n    console.log(data.resources[0].text);\n}).catch(function(err){\n\
    \    console.error(err);\n});\n\n// Upload new avatar for contacts list (group)\
    \ with Id 3223 example\nlet stream = new fs.ReadStream('test.jpg');\napi.uploadListAvatar(stream,\
    \ 3223).then(function (data) {\n    console.log(data.id);\n}).catch(function(err){\n\
    \    console.error(err);\n});\n```\n# Java\n\n<a class=\"github-button\" href=\"\
    https://github.com/textmagic/textmagic-rest-java-v2\" data-show-count=\"true\"\
    \ aria-label=\"Star textmagic/textmagic-rest-java-v2 on GitHub\">Star</a>\n\n\
    This library provides you with an easy way of sending SMS and receiving replies\
    \ by integrating TextMagic SMS Gateway into your Java application.\n\n[Get it\
    \ now on GitHub](https://github.com/textmagic/textmagic-rest-java-v2)\n\n\n##\
    \ Requirements\n\n1. Java 1.7+\n2. Maven/Gradle\n\n## Installation\n\n### Maven\n\
    \nAdd this dependency to your project's POM:\n```xml\n<dependencies>\n    <dependency>\n\
    \        <groupId>com.textmagic.sdk</groupId>\n        <artifactId>textmagic-java-sdk</artifactId>\n\
    \        <version>2.0.929</version>\n    </dependency>\n</dependencies>\n```\n\
    \n### Gradle\n\nAdd this dependency to your project’s build file:\n```groovy\n\
    compile \"com.textmagic.sdk:textmagic-java-sdk:2.0.929\"\n```\n\n## Usage Example\n\
    \n```java\nimport com.textmagic.sdk.*;\nimport com.textmagic.sdk.api.TextMagicApi;\n\
    import com.textmagic.sdk.auth.*;\nimport com.textmagic.sdk.model.*;\n\npublic\
    \ class App {\n\n    public static void main(String[] args) {\n        ApiClient\
    \ defaultClient = Configuration.getDefaultApiClient();\n\n        // Configure\
    \ HTTP basic authorization: BasicAuth\n        HttpBasicAuth BasicAuth = (HttpBasicAuth)\
    \ defaultClient.getAuthentication(\"BasicAuth\");\n        BasicAuth.setUsername(\"\
    YOUR_USERNAME\");\n        BasicAuth.setPassword(\"YOUR_PASSWORD\");\n\n     \
    \   TextMagicApi apiInstance = new TextMagicApi();\n\n        // Simple ping request\
    \ example\n        try {\n            PingResponse response = apiInstance.ping();\n\
    \            System.out.println(response.getPing());\n        } catch (ApiException\
    \ e) {\n        System.err.println(\"Exception when calling ping\");\n       \
    \     e.printStackTrace();\n        }\n\n        // Send a new message request\
    \ example\n        SendMessageInputObject sendMessageInputObject = new SendMessageInputObject();\n\
    \        sendMessageInputObject.setText(\"I love Textmagic!\");\n        sendMessageInputObject.setPhones(\"\
    +19998887766\");\n\n        try {\n            SendMessageResponse response =\
    \ apiInstance.sendMessage(sendMessageInputObject, true);\n            System.out.println(response.getId());\n\
    \        } catch (ApiException e) {\n            System.err.println(\"Exception\
    \ when calling sendMessage\");\n            e.printStackTrace();\n        }\n\n\
    \        // Get all outgoing messages request example\n        try {\n       \
    \     // Put null if you want to use default values\n            GetAllOutboundMessagesResponse\
    \ response = apiInstance.getAllOutboundMessages(1, 10, null);\n            System.out.println(response.getResources().get(0).getText());\n\
    \        } catch (ApiException e) {\n            System.err.println(\"Exception\
    \ when calling getAllOutboundMessages\");\n            e.printStackTrace();\n\
    \        }\n\n        // Upload new avatar for contacts list (group) with Id 3223\
    \ example\n        File file = new File(\"test.jpg\");\n        try {\n      \
    \      ResourceLinkResponse response = apiInstance.uploadListAvatar(file, 3223);\n\
    \            System.out.println(response.getId());\n        } catch (ApiException\
    \ e) {\n            System.err.println(\"Exception when calling uploadListAvatar\"\
    );\n            e.printStackTrace();\n        }\n    }\n}\n```\n# C# / VB.NET\n\
    \n<a class=\"github-button\" href=\"https://github.com/textmagic/textmagic-rest-csharp-v2\"\
    \ data-show-count=\"true\" aria-label=\"Star textmagic/textmagic-rest-csharp-v2\
    \ on GitHub\">Star</a>\n\nThis library provides you with an easy way of sending\
    \ SMS and receiving replies by integrating TextMagic SMS Gateway into your C#\
    \ / VB.NET application.\n\n[Get it now on GitHub](https://github.com/textmagic/textmagic-rest-csharp-v2)\n\
    \n## Frameworks supported\n- .NET 4.0 or later\n- Windows Phone 7.1 (Mango)\n\n\
    ## Dependencies\n- [RestSharp](https://www.nuget.org/packages/RestSharp) - 105.1.0\
    \ or later\n- [Json.NET](https://www.nuget.org/packages/Newtonsoft.Json/) - 7.0.0\
    \ or later\n- [JsonSubTypes](https://www.nuget.org/packages/JsonSubTypes/) - 1.2.0\
    \ or later\n\nThe DLLs included in the package may not be the latest versions.\
    \ We recommend using [NuGet](https://docs.nuget.org/consume/installing-nuget)\
    \ to obtain the latest version of the packages:\n```\nInstall-Package RestSharp\n\
    Install-Package Newtonsoft.Json\nInstall-Package JsonSubTypes\n```\n\nNOTE: RestSharp\
    \ versions later than 105.1.0 have a bug which causes file uploads to fail. See\
    \ [RestSharp#742](https://github.com/restsharp/RestSharp/issues/742)\n\n## Installation\n\
    Add the library to your project references or install it as a [NuGet package](https://www.nuget.org/packages/TextMagicClient/2.0.929/).\n\
    \n## C# usage example\n```csharp\nusing System;\nusing System.IO;\nusing TextMagicClient.Api;\n\
    using TextMagicClient.Client;\nusing TextMagicClient.Model;\n\nnamespace ExampleApp\n\
    {\n    class Program\n    {\n        static void Main(string[] args)\n       \
    \ {\n            // Configure HTTP basic authorization: BasicAuth\n          \
    \  Configuration.Default.Username = \"YOUR_USERNAME\";\n            Configuration.Default.Password\
    \ = \"YOUR_PASSWORD\";\n            Configuration.Default.BasePath = \"https://rest.textmagic.com\"\
    ;\n\n            var apiInstance = new TextMagicApi();\n\n            // Simple\
    \ Ping request sample\n            try\n            {\n                var result\
    \ = apiInstance.Ping();\n                Console.WriteLine(result.Ping);\n   \
    \         }\n            catch (Exception e)\n            {\n                Console.WriteLine(\"\
    Exception when calling TextMagicApi.Ping: \" + e.Message );\n            }\n\n\
    \            // Send a new message request sample\n            try\n         \
    \   {\n                var sendMessageInputObject = new SendMessageInputObject\n\
    \                {\n                    Text = \"I love TextMagic!\", Phones =\
    \ \"+199988887766\"\n                };\n\n                var result = apiInstance.SendMessage(sendMessageInputObject);\n\
    \                Console.WriteLine(result.Id);\n            }\n            catch\
    \ (Exception e)\n            {\n                Console.WriteLine(\"Exception\
    \ when calling TextMagicApi.SendMessage: \" + e.Message );\n            }\n\n\
    \            // Get all outgoing messages sample\n            try\n          \
    \  {\n                var result = apiInstance.GetAllOutboundMessages(1, 10);\n\
    \                Console.WriteLine(result.Resources[0].Id);\n            }\n \
    \           catch (Exception e)\n            {\n                Console.WriteLine(\"\
    Exception when calling TextMagicApi.GetAllOutboundMessages: \" + e.Message );\n\
    \            }\n\n            // Upload list avatar sample, 3223 here is a sample\
    \ list id\n            try\n            {\n                var stream = File.Open(\"\
    /CustomPath/Images/test.png\", FileMode.Open);\n                var result = apiInstance.UploadListAvatar(stream,\
    \ 3223);\n                Console.WriteLine(result.Href);\n            }\n   \
    \         catch (Exception e)\n            {\n                Console.WriteLine(\"\
    Exception when calling TextMagicApi.UploadListAvatar: \" + e.Message );\n    \
    \        }\n        }\n    }\n}\n```\n\n## VB.Net usage example\n\n```vbnet\n\
    Imports System\nImports System.IO\nImports TextMagicClient.Api\nImports TextMagicClient.Client\n\
    Imports TextMagicClient.Model\n\nModule Program\n    Sub Main(args As String())\n\
    \        Configuration.Default.Username = \"YOUR_USERNAME\"\n        Configuration.Default.Password\
    \ = \"YOUR_PASSWORD\"\n        Configuration.Default.BasePath = \"https://rest.textmagic.com\"\
    \n\n        Dim apiInstance = New TextMagicApi()\n\n        ' Simple Ping request\
    \ sample\n        Try\n            Dim result = apiInstance.Ping()\n         \
    \   Console.WriteLine(result.Ping)\n            Catch ex As Exception\n      \
    \      Console.WriteLine(\"Exception when calling TextMagicApi.Ping: \" + ex.Message\
    \ )\n        End Try\n\n        ' Send a new message request sample\n        Try\n\
    \            Dim sendMessageInputObject = New SendMessageInputObject With {\n\
    \            .Text = \"I love TextMagic!\",\n            .Phones = \"+199988887766\"\
    \n            }\n            Dim result = apiInstance.SendMessage(sendMessageInputObject)\n\
    \            Console.WriteLine(result.Id)\n        Catch e As Exception\n    \
    \        Console.WriteLine(\"Exception when calling TextMagicApi.SendMessage:\
    \ \" & e.Message)\n        End Try\n\n        ' Get all outgoing messages sample\n\
    \        Try\n            Dim result = apiInstance.GetAllOutboundMessages(1, 10)\n\
    \            Console.WriteLine(result.Resources(0).Id)\n        Catch e As Exception\n\
    \            Console.WriteLine(\"Exception when calling TextMagicApi.GetAllOutboundMessages:\
    \ \" & e.Message)\n        End Try\n\n        ' Upload list avatar sample, 3223\
    \ here is a sample list id\n        Try\n            Dim stream = File.Open(\"\
    /CustomPath/Images/test.png\", FileMode.Open)\n            Dim result = apiInstance.UploadListAvatar(stream,\
    \ 3223)\n            Console.WriteLine(result.Href)\n        Catch e As Exception\n\
    \            Console.WriteLine(\"Exception when calling TextMagicApi.UploadListAvatar:\
    \ \" & e.Message)\n        End Try\n    End Sub\nEnd Module\n\n```\n# C++\n\n\
    <a class=\"github-button\" href=\"https://github.com/textmagic/textmagic-rest-cpp-v2\"\
    \ data-show-count=\"true\" aria-label=\"Star textmagic/textmagic-rest-cpp-v2 on\
    \ GitHub\">Star</a>\n\nThis library provides you with an easy way of sending SMS\
    \ and receiving replies by integrating TextMagic SMS Gateway into your C++ application.\n\
    \n[Get it now on GitHub](https://github.com/textmagic/textmagic-rest-cpp-v2)\n\
    ## Requirements\n\n* CMake 2.8 and later (https://cmake.org/)\n* cpprest (https://github.com/microsoft/cpprestsdk)\n\
    \nUbuntu dependencies quick installation example:\n```shell\napt-get install build-essential\
    \ cmake libcpprest-dev\n```\n\n## Installation\n\nDownload and extract lib archive:\n\
    ```shell\nwget https://github.com/textmagic/textmagic-rest-cpp-v2/archive/v2.0.929.tar.gz\
    \ && \\\ntar zxf v2.0.929.tar.gz && \\\nrm -f v2.0.929.tar.gz && \\\ncd textmagic-rest-cpp-v2-2.0.929\n\
    ```\nBuild using cmake\n```shell\ncmake . && cmake --build .\n```\nThe output\
    \ library file will be placed in the `textmagic-rest-cpp-v2-2.0.929/lib` directory:\n\
    \n## Usage Example\nIn the example below, we assume that you moved the library\
    \ sources `textmagic-rest-cpp-v2-2.0.929` directory to your test project root\
    \ directory.\n\nConfigure your `CMakeLists.txt` as shown here:\n```shell\ncmake_minimum_required(VERSION\
    \ 2.8)\nproject(test)\n\nset(CMAKE_CXX_STANDARD 14)\n\nadd_executable(app main.cpp)\n\
    \nadd_library(textmagic_client SHARED IMPORTED)\nset_property(TARGET textmagic_client\
    \ PROPERTY IMPORTED_LOCATION \"${PROJECT_SOURCE_DIR}/textmagic-rest-cpp-v2-2.0.929/lib/libtextmagic_client.so\"\
    )\n\ntarget_include_directories (app PRIVATE ${PROJECT_SOURCE_DIR}/textmagic-rest-cpp-v2-2.0.929\
    \ ${PROJECT_SOURCE_DIR}/textmagic-rest-cpp-v2-2.0.929/model ${PROJECT_SOURCE_DIR}/textmagic-rest-cpp-v2-2.0.929/api)\n\
    target_link_libraries(app boost_system cpprest crypto textmagic_client )\n```\n\
    \n`main.cpp` file example:\n```cpp\n#include <iostream>\n#include <fstream>\n\
    #include \"textmagic-rest-cpp-v2-2.0.929/ApiClient.h\"\n#include \"textmagic-rest-cpp-v2-2.0.929/ApiConfiguration.h\"\
    \n#include \"textmagic-rest-cpp-v2-2.0.929/api/TextMagicApi.h\"\n\nusing namespace\
    \ com::textmagic::client::api;\n\nint main() {\n    std::shared_ptr<ApiClient>\
    \ apiClient(new ApiClient);\n    std::shared_ptr<ApiConfiguration> apiConfig(new\
    \ ApiConfiguration);\n\n    apiConfig->setBaseUrl(\"https://rest.textmagic.com\"\
    );\n    apiConfig->getHttpConfig().set_credentials(web::credentials(\"YOUR_NAME\"\
    , \"YOUR_PASSWORD\"));\n    apiClient->setConfiguration(apiConfig);\n\n    TextMagicApi\
    \ api(apiClient);\n\n    // Simple ping request example\n    pplx::task<std::shared_ptr<PingResponse>>\
    \ pingResponse = api.ping();\n    pingResponse.wait();\n\n    try {\n        std::cout\
    \ << pingResponse.get()->getPing() << '\\n';\n    } catch(const std::exception&\
    \ e) {\n        std::cout << \"getPing() exception: \" << e.what() << '\\n';\n\
    \    }\n\n    // Send a new message request example\n    std::shared_ptr<SendMessageInputObject>\
    \ sendMessageInputObject(new SendMessageInputObject);\n    sendMessageInputObject->setPhones(\"\
    +19998887766\");\n    sendMessageInputObject->setText(\"I love TextMagic!\");\n\
    \n    pplx::task<std::shared_ptr<SendMessageResponse>> sendMessageResponse = api.sendMessage(sendMessageInputObject,\
    \ false);\n    sendMessageResponse.wait();\n\n    try {\n        std::cout <<\
    \ sendMessageResponse.get()->getId() << '\\n';\n    } catch(const std::exception&\
    \ e) {\n        std::cout << \"getId() exception: \" << e.what() << '\\n';\n \
    \   }\n\n    // Get all outgoing messages request example\n    pplx::task<std::shared_ptr<GetAllOutboundMessagesResponse>>\
    \ getAllOutboundMessagesResponse = api.getAllOutboundMessages(boost::none, boost::none,\
    \ boost::none);\n    getAllOutboundMessagesResponse.wait();\n\n    try {\n   \
    \     std::cout << getAllOutboundMessagesResponse.get()->getResources()[0]->getId()\
    \ << '\\n';\n    } catch(const std::exception& e) {\n        std::cout << \"getId()\
    \ exception: \" << e.what() << '\\n';\n    }\n\n    // Upload list avatar request\
    \ example\n    std::filebuf fb;\n    fb.open (\"test.jpg\", std::ios::in);\n \
    \   std::shared_ptr<std::istream> is(new std::istream(&fb));\n\n    std::shared_ptr<HttpContent>\
    \ image(new HttpContent);\n    image->setName(\"test\");\n    image->setContentDisposition(\"\
    attachment\");\n    image->setFileName(\"test.jpg\");\n\n    image->setContentType(\"\
    image/jpeg\");\n    image->setData(is);\n\n    // List ID in current example is\
    \ 3223\n    pplx::task<std::shared_ptr<ResourceLinkResponse>> resourceLinkResponse\
    \ = api.uploadListAvatar(image, 3223);\n    resourceLinkResponse.wait();\n\n \
    \   try {\n        std::cout << resourceLinkResponse.get()->getId() << '\\n';\n\
    \    } catch(const std::exception& e) {\n        std::cout << \"getId() exception:\
    \ \" << e.what() << '\\n';\n    }\n\n    return 0;\n}\n```\nBuild your test project:\n\
    ```shell\ncmake . && cmake --build .\n```\nRun:\n```shell\n./app\n```\n\n# Python\n\
    \n<a class=\"github-button\" href=\"https://github.com/textmagic/textmagic-rest-python-v2\"\
    \ data-show-count=\"true\" aria-label=\"Star textmagic/textmagic-rest-python-v2\
    \ on GitHub\">Star</a>\n\nThis library provides you with an easy way of sending\
    \ SMS and receiving replies by integrating TextMagic SMS Gateway into your Python\
    \ application.\n\n[Get it now on GitHub](https://github.com/textmagic/textmagic-rest-python-v2)\n\
    ## Requirements\nPython 2.7 and 3.4+\n\n## Installation\n\n```shell\npip install\
    \ git+https://github.com/textmagic/textmagic-rest-python-v2.git@v2.0.929\n```\n\
    \n## Usage Example\n\n```python\nimport TextMagic\nfrom TextMagic.rest import\
    \ ApiException\n\n# Configure HTTP basic authorization: BasicAuth\nconfiguration\
    \ = TextMagic.Configuration()\nconfiguration.username = 'YOUR_USERNAME'\nconfiguration.password\
    \ = 'YOUR_PASSWORD'\n\n# create an instance of the API class\napi_instance = TextMagic.TextMagicApi(TextMagic.ApiClient(configuration))\n\
    \n# Simple ping request example\ntry:\n    response = api_instance.ping()\n  \
    \  print(response.ping)\nexcept ApiException as e:\n    print(\"Exception when\
    \ calling TextMagicApi->ping: %s\\n\" % e)\n\n# Send a new message request example\n\
    send_message_input_object = TextMagic.SendMessageInputObject()\nsend_message_input_object.text\
    \ = \"I love TextMagic!\"\nsend_message_input_object.phones = \"+79998887766\"\
    \n\ntry:\n    response = api_instance.send_message(send_message_input_object)\n\
    \    print(response.id)\nexcept ApiException as e:\n    print(\"Exception when\
    \ calling TextMagicApi->send_message: %s\\n\" % e)\n\n# Get all outgoing messages\
    \ request example\ntry:\n    response = api_instance.get_all_outbound_messages(page=1,\
    \ limit=200)\n    print(response.resources[0].text)\nexcept ApiException as e:\n\
    \    print(\"Exception when calling TextMagicApi->get_all_outbound_messages: %s\\\
    n\" % e)\n\n# Upload a new list (contacts group) avatar request example. 3223\
    \ here is a test list id\ntry:\n    response = api_instance.upload_list_avatar('test.png',\
    \ 3223)\n    print(response.id)\nexcept ApiException as e:\n    print(\"Exception\
    \ when calling TextMagicApi->upload_list_avatar: %s\\n\" % e)\n\n```\n\n# Perl\n\
    \n<a class=\"github-button\" href=\"https://github.com/textmagic/textmagic-rest-perl-v2\"\
    \ data-show-count=\"true\" aria-label=\"Star textmagic/textmagic-rest-perl-v2\
    \ on GitHub\">Star</a>\n\nThis library provides you with an easy way of sending\
    \ SMS and receiving replies by integrating TextMagic SMS Gateway into your Perl\
    \ application.\n\n[Get it now on GitHub](https://github.com/textmagic/textmagic-rest-perl-v2)\n\
    ## Installation\n\n```bash\nwget https://github.com/textmagic/textmagic-rest-perl-v2/archive/v2.0.929.tar.gz\
    \ && \\\ntar zxf v2.0.929.tar.gz && \\\nrm -f v2.0.929.tar.gz && \\\ncd textmagic-rest-perl-v2-2.0.929\
    \ && \\\nperl Makefile.pl && \\\nmake && \\\nmake install && \\\ncpanm --installdeps\
    \ .\n```\\\n\n## Usage Example\n\nPlease follow the [installation](#installation)\
    \ instructions and execute the following Perl code:\n\n```perl\nuse 5.010;\nuse\
    \ strict;\nuse warnings;\nuse Net::Sms::TextMagicClient::ApiClient;\nuse Net::Sms::TextMagicClient::TextMagicApi;\n\
    use Net::Sms::TextMagicClient::Object::SendMessageInputObject;\n\nmy $client =\
    \ Net::Sms::TextMagicClient::ApiClient::->new(\n    username   => 'YOUR_USERNAME',\n\
    \    password   => 'YOUR_PASSWORD',\n    base_url  => 'https://rest.textmagic.com'\n\
    );\n\nmy $api_instance = Net::Sms::TextMagicClient::TextMagicApi::->new($client);\n\
    \n# Ping request example\neval {\n    my $result = $api_instance->ping();\n  \
    \  print $result->ping;\n};\n\nif ($@) {\n    warn \"Exception when calling TextMagicApi->ping:\
    \ $@\\n\";\n}\n\n# Send a new message request example\nmy $send_message_input_object\
    \ = Net::Sms::TextMagicClient::Object::SendMessageInputObject->new(\n    text\
    \ => 'I love TextMagic!',\n    phones => '+19998887766'\n);\n\neval {\n    my\
    \ $result = $api_instance->send_message(send_message_input_object => $send_message_input_object);\n\
    \    print $result->id;\n};\n\nif ($@) {\n    warn \"Exception when calling TextMagicApi->send_message:\
    \ $@\\n\";\n}\n\n# Get all outgoing messages request example\neval {\n    my $result\
    \ = $api_instance->get_all_outbound_messages();\n    print $result->resources->[0]->message_time;\n\
    };\n\nif ($@) {\n    warn \"Exception when calling TextMagicApi->get_all_inbound_messages:\
    \ $@\\n\";\n}\n\n# Upload a new avatar for a  specified contacts list (group)\
    \ request example (3223 it is sample list ID)\neval {\n    my $result = $api_instance->upload_list_avatar(image\
    \ => \"test.jpg\", id => 3223);\n    print $result->id;\n};\n\nif ($@) {\n   \
    \ warn \"Exception when calling TextMagicApi->upload_list_avatar: $@\\n\";\n}\n\
    \n```\n# Ruby\n\n<a class=\"github-button\" href=\"https://github.com/textmagic/textmagic-rest-ruby-v2\"\
    \ data-show-count=\"true\" aria-label=\"Star textmagic/textmagic-rest-ruby-v2\
    \ on GitHub\">Star</a>\n\nThis library provides you with an easy way of sending\
    \ SMS and receiving replies by integrating TextMagic SMS Gateway into your Ruby\
    \ application.\n\n[Get it now on GitHub](https://github.com/textmagic/textmagic-rest-ruby-v2)\n\
    ## Installation\n\nAdd these lines into your Gemfile\n```ruby\ngem 'textmagic_rest_client',\
    \ :git => 'https://github.com/textmagic/textmagic-rest-ruby-v2.git', :tag => 'v2.0.929'\n\
    ```\n\nRun the bundler install command\n``` shell\nbundle install\n```\n\n## Usage\
    \ Example\n\nCreate the test file `test.rb` and put the following code:\n```ruby\n\
    \ # Load the gem\nrequire 'textmagic_rest_client'\n\n # Setup authorization\n\
    TextMagic.configure do |config|\n    # Configure HTTP basic authorization: BasicAuth\n\
    \    config.username = 'YOUR_USERNAME'\n    config.password = 'YOUR_PASSWORD'\n\
    end\n\napi_instance = TextMagic::TextMagicApi.new\n\n # Simple ping request example\n\
    begin\n    result = api_instance.ping\n    puts result.ping\nrescue TextMagic::ApiError\
    \ => e\n    puts \"Exception when calling TextMagicApi->ping: #{e}\"\nend\n\n\
    \ # Send a new message request example\nsend_message_input_object = TextMagic::SendMessageInputObject.new\n\
    send_message_input_object.text = 'I love TextMagic!'\nsend_message_input_object.phones\
    \ = '+19998887766'\n\nbegin\n    result = api_instance.send_message(send_message_input_object)\n\
    \    puts result.id\nrescue TextMagic::ApiError => e\n    puts \"Exception when\
    \ calling TextMagicApi->send_message: #{e}\"\nend\n\n # Get all outgoing messages\
    \ request example\nbegin\n    result = api_instance.get_all_outbound_messages(page:\
    \ 1, limit: 10)\n    puts result.resources[0].text\nrescue TextMagic::ApiError\
    \ => e\n    puts \"Exception when calling TextMagicApi->get_all_outbound_messages:\
    \ #{e}\"\nend\n\n # Upload new avatar for contacts list (group) with Id 3223 example\n\
    file = File.open('test.png', 'r')\nbegin\n    result = api_instance.upload_list_avatar(file,\
    \ 3223)\n    puts result.id\nrescue TextMagic::ApiError => e\n    puts \"Exception\
    \ when calling TextMagicApi->upload_list_avatar: #{e}\"\nend\n```\n\nRun the script:\n\
    ```\nbundle exec ruby test.rb\n```\n\n# Go\n\n<a class=\"github-button\" href=\"\
    https://github.com/textmagic/textmagic-rest-go-v2\" data-show-count=\"true\" aria-label=\"\
    Star textmagic/textmagic-rest-go-v2 on GitHub\">Star</a>\n\nThis library provides\
    \ you with an easy way of sending SMS and receiving replies by integrating TextMagic\
    \ SMS Gateway into your Go application.\n\n[Get it now on GitHub](https://github.com/textmagic/textmagic-rest-go-v2)\n\
    ## Installation\n\nWith go.mod:\n```bash\ngo get -u github.com/textmagic/textmagic-rest-go-v2/v2@v2.0.951\n\
    ```\n\nWithout go.mod:\n```bash\ngo get -u github.com/textmagic/textmagic-rest-go-v2\n\
    ```\n\n## Dependencies:\n\n- https://github.com/antihax/optional - this library\
    \ is used to provide optional argument types for API calls. See the `GetAllOutboundMessages`\
    \ call example below.\n\n## Usage Example\n\n```go\npackage main\n\nimport (\n\
    \    \"context\"\n    \"fmt\"\n    \"github.com/antihax/optional\"\n    // If\
    \ you're using go.mod use line below to import our module\n    // \ttm \"github.com/textmagic/textmagic-rest-go-v2/v2\"\
    \n    tm \"github.com/textmagic/textmagic-rest-go-v2\"\n    \"log\"\n)\n\nfunc\
    \ main() {\n\n    cfg := tm.NewConfiguration()\n    cfg.BasePath = \"https://rest.textmagic.com\"\
    \n    client := tm.NewAPIClient(cfg)\n\n    auth := context.WithValue(context.Background(),\
    \ tm.ContextBasicAuth, tm.BasicAuth{\n        UserName: \"YOUR_USERNAME\",\n \
    \       Password: \"YOUR_PASSWORD\",\n    })\n\n    // Simple ping request example\n\
    \    pingResponse, _, err := client.TextMagicApi.Ping(auth)\n\n    if err != nil\
    \ {\n        log.Fatal(err)\n    } else {\n        fmt.Println(pingResponse.Ping)\n\
    \    }\n\n    // Send a new message request example\n    sendMessageResponse,\
    \ _, err := client.TextMagicApi.SendMessage(auth, tm.SendMessageInputObject{\n\
    \        Text: \"I love TextMagic!\",\n        Phones: \"+19998887766\",\n   \
    \ }, &tm.SendMessageOpts{})\n\n    if err != nil {\n        log.Fatal(err)\n \
    \   } else {\n        fmt.Println(sendMessageResponse.Id)\n    }\n\n    // Get\
    \ all outgoing messages request example\n    getAllOutboundMessageResponse, _,\
    \ err := client.TextMagicApi.GetAllOutboundMessages(auth, &tm.GetAllOutboundMessagesOpts{\n\
    \        Page: optional.NewInt32(1),\n        Limit: optional.NewInt32(250),\n\
    \    })\n\n    if err != nil {\n        log.Fatal(err)\n    } else {\n       \
    \ fmt.Println(getAllOutboundMessageResponse.Resources[0].Id)\n    }\n}\n```\n\n\
    ## Limitations\nDue to the issue at https://github.com/swagger-api/swagger-codegen/issues/7311,\
    \ the current version of Go SDK does not support any file uploading API calls.\n\
    \n# Delphi\n\n<a class=\"github-button\" href=\"https://github.com/textmagic/textmagic-rest-object-pascal\"\
    \ data-show-count=\"true\" aria-label=\"Star textmagic/textmagic-rest-object-pascal\
    \ on GitHub\">Star</a>\n\nThis library provides you with an easy way of sending\
    \ SMS and receiving replies by integrating TextMagic SMS Gateway into your Delphi\
    \ application.\n\n[Get it now on GitHub](https://github.com/textmagic/textmagic-rest-object-pascal)\n\
    \n## How to Install\nYou can clone the repo in your location of choice by using\
    \ :\n```sh\ngit clone https://github.com/textmagic/textmagic-rest-object-pascal.git\n\
    ```\nYou can also manually clone the project, or simply download the files.\n\
    ## Getting it running\nYou'll need to make sure these 3 files are accessible by\
    \ your project, either by adding them directly to the project, or making them\
    \ accessible through your library path.\n- *TextmagicRestClient.pas* - The API\
    \ wrapper itself.\n- *XSuperJSON.pas* - Helper library for JSON Parsing\n- *XSuperObject.pas*\
    \ - Helper library for JSON Parsing\n\nOn your project you will only need to use\
    \ the unit *TextmagicRestClient.pas*.\n\nThe wrapper uses Indy components to communicate\
    \ with the REST API via SSL. In some cases, Indy will not be able to load the\
    \ SSL libraries. If that happens, you can get them at [https://indy.fulgan.com/SSL/].\
    \ You'll just need to make sure the files **libeay32.dll** and **ssleay32.dll**\
    \ (note: we use 32 bit versions for example application) are accessible to your\
    \ application.\n\nThat is all you need to start using the API.\n\n## Using the\
    \ API\nThe entire API is accessible via the class **TTMClient**, found in the\
    \ **TextmagicRestClient.pas** file. You'll need to provide your credentials when\
    \ creating the object. Check the TextMagic API documentation for up to date instructions\
    \ on how to do that.\n```Pascal\nvar TMC:TTMClient;\n...\nTMC := TTMClient.Create(Your_User_Name,\
    \ Your_API_V2_Key);\n```\nThe TTMClient's methods and parameters are very self-explanatory\
    \ and for the most part they correspond directly to the API functions. Keep in\
    \ mind most of the methods return an instance of a class, so don't forget to correctly\
    \ free them to avoid memory leaks.\nYou'll note several of the methods return\
    \ a **TTMLinkResult** class. This is a generic response for several of the API\
    \ functions and contains the **id** of the created/updated resource and a direct\
    \ link to the resource itself.\n## A few examples\nGetting your user account details\
    \ :\n```Pascal\nvar User:TTMUser;\n...\nUser:=TMC.GetUser;\nUser.free;\n```\n\
    Creating a new contact list:\n```Pascal\nvar LinkResult:TTMLinkResult;\n...\n\
    LinkResult:=TMC.CreateList('My new list');\n{ LinkResult.Id will contain the ID\
    \ of the newly created list } \nLinkResult.free;\n```\n\nCreating a new contact:\n\
    ```Pascal\nvar LinkResult:TTMLinkResult;\n...\n{ A list id is mandatory for creating\
    \ contacts }\nLinkResult:=TMC.CreateContact('99911111337', MY_LIST_ID,'John','Doe');\n\
    { LinkResult.Id will contain the ID of the newly created contact } \nLinkResult.free;\n\
    ```\nSending a message to a single contact:\n```Pascal\nvar MR:TTMMessageResult;\n\
    ...\nMR:=TMC.CreateMessage('My SMS message',null,null,MY_CONTACT_ID,null,null,null,null,null,null,null);\n\
    MR.free;\n```\nSending a message to a list of contacts:\n```Pascal\nvar MR:TTMMessageResult;\n\
    ...\nMR:=TMC.CreateMessage('My SMS message',null,null,null,MY_LIST_ID,null,null,null,null,null,null);\n\
    MR.free;\n```\n\n# Bash\n\n<a class=\"github-button\" href=\"https://github.com/textmagic/textmagic-rest-bash\"\
    \ data-show-count=\"true\" aria-label=\"Star textmagic/textmagic-rest-bash on\
    \ GitHub\">Star</a>\n\nThis library provides you with an easy way of sending SMS\
    \ and receiving replies by integrating TextMagic SMS Gateway into your Bash application.\n\
    \n[Get it now on GitHub](https://github.com/textmagic/textmagic-rest-bash)\n\n\
    ## Installation Instructions\n1.  [Download](https://github.com/textmagic/textmagic-rest-bash)\
    \ the latest version of the wrapper from GitHub.\n2.  Put **tm.sh** into any folder\
    \ or into PATH, if you want to use it globally.\n\n## Requirements\nThe Shell\
    \ wrapper for the TextMagic API has the following requirement:\n*   Bash version\
    \ 3 or newer.\n\n## Send SMS via Shell (an example)\nRun this in your command\
    \ prompt or execute in script:\n```bash\ntm.sh send --text=\"Hello from TextMagic\"\
    \ --phones=447860021130\n```\n\n"
  x-virtual: true
  x-displayName: "SDK"
- name: "Common"
  description: ""
  x-displayName: "Timezones and Countries"
- name: "Lookup"
  description: "To get more details about a number or to check whether it is a valid\
    \ number or not, you can use the Carrier Lookup command. To upload and check numbers\
    \ in bulk, please use our [Web app](https://my.textmagic.com/online/carrier-lookup/)."
schemes:
- "https"
consumes:
- "application/json"
produces:
- "application/json"
security:
- BasicAuth: []
paths:
  /api/v2/auth: {}
  /api/v2/ping:
    get:
      tags:
      - "TextMagic"
      summary: "Ping"
      description: "Make a simple ping request."
      operationId: "ping"
      parameters: []
      responses:
        200:
          description: "Returned when successful."
          schema:
            $ref: "#/definitions/PingResponse"
        401:
          description: "Unauthorized request."
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
      x-code-samples:
      - lang: "PHP"
        source: "require_once(__DIR__ . '/vendor/autoload.php');\n\nuse TextMagic\\\
          Api\\TextMagicApi;\nuse TextMagic\\Configuration;\n\n// put your Username\
          \ and API Key from https://my.textmagic.com/online/api/rest-api/keys page.\n\
          $config = Configuration::getDefaultConfiguration()\n    ->setUsername('YOUR_USERNAME')\n\
          \    ->setPassword('YOUR_API_KEY');\n\n$api = new TextMagicApi(\n    new\
          \ GuzzleHttp\\Client(),\n    $config\n);\n\n\ntry {\n    // PingResponse\
          \ class object\n    $result = $api->ping();\n    // ...\n} catch (Exception\
          \ $e) {\n    echo 'Exception when calling TextMagicApi->ping: ', $e->getMessage(),\
          \ PHP_EOL;\n}"
      - lang: "Java"
        source: "import com.textmagic.sdk.*;\nimport com.textmagic.sdk.api.TextMagicApi;\n\
          import com.textmagic.sdk.auth.*;\nimport com.textmagic.sdk.model.*;\n\n\
          public class App {\n    public static void main(String[] args) {\n     \
          \   ApiClient defaultClient = Configuration.getDefaultApiClient();\n\n \
          \       // put your Username and API Key from https://my.textmagic.com/online/api/rest-api/keys\
          \ page.\n        HttpBasicAuth BasicAuth = (HttpBasicAuth) defaultClient.getAuthentication(\"\
          BasicAuth\");\n        BasicAuth.setUsername(\"YOUR_USERNAME\");\n     \
          \   BasicAuth.setPassword(\"YOUR_API_KEY\");\n\n        TextMagicApi apiInstance\
          \ = new TextMagicApi();\n\n\n        try {\n            // PingResponse\
          \ class object\n            PingResponse obj = apiInstance.ping();\n   \
          \         // ...\n        } catch (ApiException e) {\n            System.err.println(\"\
          Exception when calling ping\");\n            e.printStackTrace();\n    \
          \    }\n    }\n}"
      - lang: "JavaScript"
        source: "const textmagicClient = require('textmagic-client');\n\nconst client\
          \ = textmagicClient.ApiClient.instance;\nconst auth = client.authentications['BasicAuth'];\n\
          const api = new textmagicClient.TextMagicApi();\n\n// put your Username\
          \ and API Key from https://my.textmagic.com/online/api/rest-api/keys page.\n\
          auth.username = 'YOUR_USERNAME';\nauth.password = 'YOUR_API_KEY';\n\n\n\n\
          api.ping().then(function (data) {\n    console.log(data);\n}).catch(function(err){\n\
          \    console.error(err);\n});"
      - lang: "Ruby"
        source: "require 'textmagic_rest_client'\n\n# put your Username and API Key\
          \ from https://my.textmagic.com/online/api/rest-api/keys page.\nTextMagic.configure\
          \ do |config|\n    config.username = 'YOUR_USERNAME'\n    config.password\
          \ = 'YOUR_API_KEY'\nend\n\napi = TextMagic::TextMagicApi.new\n\n\nbegin\n\
          \    # PingResponse object\n    result = api.ping()\n    # ...\nrescue TextMagic::ApiError\
          \ => e\n    puts \"Exception when calling TextMagicApi->ping: #{e}\"\nend"
      - lang: "C#"
        source: "using System;\nusing System.IO;\nusing TextMagicClient.Api;\nusing\
          \ TextMagicClient.Client;\nusing TextMagicClient.Model;\n\nnamespace ExampleApp\n\
          {\n    class Program\n    {\n        static void Main(string[] args)\n \
          \       {\n            // put your Username and API Key from https://my.textmagic.com/online/api/rest-api/keys\
          \ page.\n            Configuration.Default.Username = \"YOUR_USERNAME\"\
          ;\n            Configuration.Default.Password = \"YOUR_API_KEY\";\n\n  \
          \          var apiInstance = new TextMagicApi();\n\n\n            try {\n\
          \                // PingResponse class object\n                var result\
          \ = apiInstance.Ping();\n                // ...\n            } catch (Exception\
          \ e) {\n                Console.WriteLine(\"Exception when calling ping:\
          \ \"+e.Message);\n            }\n        }\n    }\n}"
      - lang: "VB.Net"
        source: "Imports System\nImports System.IO\nImports TextMagicClient.Api\n\
          Imports TextMagicClient.Client\nImports TextMagicClient.Model\n\nModule\
          \ Program\n    Sub Main(args As String())\n        ' put your Username and\
          \ API Key from https://my.textmagic.com/online/api/rest-api/keys page.\n\
          \        Configuration.Default.Username = \"YOUR_USERNAME\"\n        Configuration.Default.Password\
          \ = \"YOUR_API_KEY\"\n\n        Dim apiInstance = New TextMagicApi()\n\n\
          \n        Try\n            ' PingResponse class object\n            Dim\
          \ result = apiInstance.Ping()\n            ' ...\n        Catch e As Exception\n\
          \            Console.WriteLine(\"Exception when calling ping: \" + e.Message)\n\
          \        End Try\n    End Sub\nEnd Module"
      - lang: "Go"
        source: "package main\n\nimport (\n    \"context\"\n    \"fmt\"\n    \"github.com/antihax/optional\"\
          \n    // If you're using go.mod use line below to import our module\n  \
          \  // \ttm \"github.com/imissyouso/textmagic-rest-go/v2\"\n    tm \"github.com/imissyouso/textmagic-rest-go\"\
          \n    \"log\"\n)\n\nfunc main() {\n    cfg := tm.NewConfiguration()\n  \
          \  client := tm.NewAPIClient(cfg)\n\n    // put your Username and API Key\
          \ from https://my.textmagic.com/online/api/rest-api/keys page.\n    auth\
          \ := context.WithValue(context.Background(), tm.ContextBasicAuth, tm.BasicAuth{\n\
          \        UserName: \"YOUR_USERNAME\",\n        Password: \"YOUR_API_KEY\"\
          ,\n    })\n\n    // tm.PingResponse struct\n    result, _, err := client.TextMagicApi.Ping(auth,\
          \ )\n\n    if err != nil {\n        log.Fatal(err)\n    } else {\n     \
          \   fmt.Printf(\"%+v\\n\", result)\n        // ...\n    }\n}\n"
      - lang: "Cpp"
        source: "#include <iostream>\n#include <fstream>\n// Change paths to directory\
          \ where SDK lib is installed. See C++ SDK installation instructions for\
          \ more details\n#include \"textmagic-rest-cpp/ApiClient.h\"\n#include \"\
          textmagic-rest-cpp/ApiConfiguration.h\"\n#include \"textmagic-rest-cpp/api/TextMagicApi.h\"\
          \n\nusing namespace com::textmagic::client::api;\n\nint main() {\n    std::shared_ptr<ApiClient>\
          \ apiClient(new ApiClient);\n    std::shared_ptr<ApiConfiguration> apiConfig(new\
          \ ApiConfiguration);\n\n    // put your Username and API Key from https://my.textmagic.com/online/api/rest-api/keys\
          \ page.\n    apiConfig->getHttpConfig().set_credentials(web::credentials(\"\
          YOUR_NAME\", \"YOUR_API_KEY\"));\n    apiClient->setConfiguration(apiConfig);\n\
          \n    TextMagicApi api(apiClient);\n\n    try {\n        pplx::task<std::shared_ptr<PingResponse>>\
          \ result = api.ping();\n        result.wait();\n        // put operations\
          \ with result here...\n    } catch(const std::exception& e) {\n        std::cout\
          \ << \"ping() exception: \" << e.what() << '\\n';\n    }\n\n    return 0;\n\
          }"
      - lang: "Python"
        source: "import TextMagic\nfrom TextMagic.rest import ApiException\n\nconfiguration\
          \ = TextMagic.Configuration()\n# put your Username and API Key from https://my.textmagic.com/online/api/rest-api/keys\
          \ page.\nconfiguration.username = \"YOUR_USERNAME\"\nconfiguration.password\
          \ = \"YOUR_API_KEY\"\n\n# create an instance of the API class\napi_instance\
          \ = TextMagic.TextMagicApi(TextMagic.ApiClient(configuration))\n\n\ntry:\n\
          \    # PingResponse object\n    result = api_instance.ping()\n    # ...\n\
          except ApiException as e:\n    print(\"Exception when calling TextMagicApi->ping:\
          \ %s\\n\" % e)\n"
      - lang: "Perl"
        source: "use 5.010;\nuse strict;\nuse warnings;\nuse Net::Sms::TextMagicClient::ApiClient;\n\
          use Net::Sms::TextMagicClient::TextMagicApi;\n\n# put your Username and\
          \ API Key from https://my.textmagic.com/online/api/rest-api/keys page.\n\
          my $client = Net::Sms::TextMagicClient::ApiClient::->new(\n    username\
          \   => 'YOUR_USERNAME',\n    password   => 'YOUR_API_KEY'\n);\n\nmy $api_instance\
          \ = Net::Sms::TextMagicClient::TextMagicApi::->new($client);\n\n\neval {\n\
          \    # PingResponse object\n    my $result = $api_instance->ping();\n  \
          \  # ...\n};\n\nif ($@) {\n    warn \"Exception when calling TextMagicApi->ping:\
          \ $@\\n\";\n}"
  /api/v2/timezones:
    get:
      tags:
      - "TextMagic"
      summary: "Get timezones"
      description: "Return all available timezone IDs"
      operationId: "getTimezones"
      parameters:
      - name: "full"
        in: "query"
        description: "Return full info about timezones in array (0 or 1). Default\
          \ is 0."
        required: false
        type: "integer"
        default: 0
        enum:
        - 0
        - 1
        x-exportParamName: "Full"
        x-optionalDataType: "Int32"
      responses:
        200:
          description: "Returned when successful."
          schema:
            $ref: "#/definitions/GetTimezonesResponse"
        400:
          description: "Bad request."
          schema:
            $ref: "#/definitions/BadRequestResponse"
        401:
          description: "Unauthorized request."
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
      x-code-samples:
      - lang: "PHP"
        source: "require_once(__DIR__ . '/vendor/autoload.php');\n\nuse TextMagic\\\
          Api\\TextMagicApi;\nuse TextMagic\\Configuration;\n\n// put your Username\
          \ and API Key from https://my.textmagic.com/online/api/rest-api/keys page.\n\
          $config = Configuration::getDefaultConfiguration()\n    ->setUsername('YOUR_USERNAME')\n\
          \    ->setPassword('YOUR_API_KEY');\n\n$api = new TextMagicApi(\n    new\
          \ GuzzleHttp\\Client(),\n    $config\n);\n\n// Optional, you can pass them\
          \ as null values to getTimezones method below, default values will be used\n\
          $full = 0;\n\ntry {\n    // GetTimezonesResponse class object\n    $result\
          \ = $api->getTimezones($full);\n    // ...\n} catch (Exception $e) {\n \
          \   echo 'Exception when calling TextMagicApi->getTimezones: ', $e->getMessage(),\
          \ PHP_EOL;\n}"
      - lang: "Java"
        source: "import com.textmagic.sdk.*;\nimport com.textmagic.sdk.api.TextMagicApi;\n\
          import com.textmagic.sdk.auth.*;\nimport com.textmagic.sdk.model.*;\n\n\
          public class App {\n    public static void main(String[] args) {\n     \
          \   ApiClient defaultClient = Configuration.getDefaultApiClient();\n\n \
          \       // put your Username and API Key from https://my.textmagic.com/online/api/rest-api/keys\
          \ page.\n        HttpBasicAuth BasicAuth = (HttpBasicAuth) defaultClient.getAuthentication(\"\
          BasicAuth\");\n        BasicAuth.setUsername(\"YOUR_USERNAME\");\n     \
          \   BasicAuth.setPassword(\"YOUR_API_KEY\");\n\n        TextMagicApi apiInstance\
          \ = new TextMagicApi();\n\n        // Optional, you can pass them as null\
          \ values to getTimezones method below, default values will be used\n   \
          \     int full = 0;\n\n        try {\n            // GetTimezonesResponse\
          \ class object\n            GetTimezonesResponse obj = apiInstance.getTimezones(full);\n\
          \            // ...\n        } catch (ApiException e) {\n            System.err.println(\"\
          Exception when calling getTimezones\");\n            e.printStackTrace();\n\
          \        }\n    }\n}"
      - lang: "JavaScript"
        source: "const textmagicClient = require('textmagic-client');\n\nconst client\
          \ = textmagicClient.ApiClient.instance;\nconst auth = client.authentications['BasicAuth'];\n\
          const api = new textmagicClient.TextMagicApi();\n\n// put your Username\
          \ and API Key from https://my.textmagic.com/online/api/rest-api/keys page.\n\
          auth.username = 'YOUR_USERNAME';\nauth.password = 'YOUR_API_KEY';\n\n\n\
          // Optional parameters\nconst opts = {\n    full: 0,\n};\n\napi.getTimezones(opts).then(function\
          \ (data) {\n    console.log(data);\n}).catch(function(err){\n    console.error(err);\n\
          });"
      - lang: "Ruby"
        source: "require 'textmagic_rest_client'\n\n# put your Username and API Key\
          \ from https://my.textmagic.com/online/api/rest-api/keys page.\nTextMagic.configure\
          \ do |config|\n    config.username = 'YOUR_USERNAME'\n    config.password\
          \ = 'YOUR_API_KEY'\nend\n\napi = TextMagic::TextMagicApi.new\n\nparams =\
          \ {\n  # Optional parameters\n  full: 0,\n}\n\nbegin\n    # GetTimezonesResponse\
          \ object\n    result = api.get_timezones(params)\n    # ...\nrescue TextMagic::ApiError\
          \ => e\n    puts \"Exception when calling TextMagicApi->get_timezones: #{e}\"\
          \nend"
      - lang: "C#"
        source: "using System;\nusing System.IO;\nusing TextMagicClient.Api;\nusing\
          \ TextMagicClient.Client;\nusing TextMagicClient.Model;\n\nnamespace ExampleApp\n\
          {\n    class Program\n    {\n        static void Main(string[] args)\n \
          \       {\n            // put your Username and API Key from https://my.textmagic.com/online/api/rest-api/keys\
          \ page.\n            Configuration.Default.Username = \"YOUR_USERNAME\"\
          ;\n            Configuration.Default.Password = \"YOUR_API_KEY\";\n\n  \
          \          var apiInstance = new TextMagicApi();\n\n            // Optional,\
          \ you can pass them as null values to getTimezones method below, default\
          \ values will be used\n            int full = 0;\n\n            try {\n\
          \                // GetTimezonesResponse class object\n                var\
          \ result = apiInstance.GetTimezones(full);\n                // ...\n   \
          \         } catch (Exception e) {\n                Console.WriteLine(\"\
          Exception when calling getTimezones: \"+e.Message);\n            }\n   \
          \     }\n    }\n}"
      - lang: "VB.Net"
        source: "Imports System\nImports System.IO\nImports TextMagicClient.Api\n\
          Imports TextMagicClient.Client\nImports TextMagicClient.Model\n\nModule\
          \ Program\n    Sub Main(args As String())\n        ' put your Username and\
          \ API Key from https://my.textmagic.com/online/api/rest-api/keys page.\n\
          \        Configuration.Default.Username = \"YOUR_USERNAME\"\n        Configuration.Default.Password\
          \ = \"YOUR_API_KEY\"\n\n        Dim apiInstance = New TextMagicApi()\n\n\
          \        ' Optional, you can pass them as null values to getTimezones method\
          \ below, default values will be used\n        Dim full As Integer = 0\n\n\
          \        Try\n            ' GetTimezonesResponse class object\n        \
          \    Dim result = apiInstance.GetTimezones(full)\n            ' ...\n  \
          \      Catch e As Exception\n            Console.WriteLine(\"Exception when\
          \ calling getTimezones: \" + e.Message)\n        End Try\n    End Sub\n\
          End Module"
      - lang: "Go"
        source: "package main\n\nimport (\n    \"context\"\n    \"fmt\"\n    \"github.com/antihax/optional\"\
          \n    // If you're using go.mod use line below to import our module\n  \
          \  // \ttm \"github.com/imissyouso/textmagic-rest-go/v2\"\n    tm \"github.com/imissyouso/textmagic-rest-go\"\
          \n    \"log\"\n)\n\nfunc main() {\n    cfg := tm.NewConfiguration()\n  \
          \  client := tm.NewAPIClient(cfg)\n\n    // put your Username and API Key\
          \ from https://my.textmagic.com/online/api/rest-api/keys page.\n    auth\
          \ := context.WithValue(context.Background(), tm.ContextBasicAuth, tm.BasicAuth{\n\
          \        UserName: \"YOUR_USERNAME\",\n        Password: \"YOUR_API_KEY\"\
          ,\n    })\n\n    opts := tm.GetTimezonesOpts{\n        // Optional parameters\n\
          \        Full: optional.NewInt32(0),\n    }\n\n    // tm.GetTimezonesResponse\
          \ struct\n    result, _, err := client.TextMagicApi.GetTimezones(auth, &opts)\n\
          \n    if err != nil {\n        log.Fatal(err)\n    } else {\n        fmt.Printf(\"\
          %+v\\n\", result)\n        // ...\n    }\n}\n"
      - lang: "Cpp"
        source: "#include <iostream>\n#include <fstream>\n// Change paths to directory\
          \ where SDK lib is installed. See C++ SDK installation instructions for\
          \ more details\n#include \"textmagic-rest-cpp/ApiClient.h\"\n#include \"\
          textmagic-rest-cpp/ApiConfiguration.h\"\n#include \"textmagic-rest-cpp/api/TextMagicApi.h\"\
          \n\nusing namespace com::textmagic::client::api;\n\nint main() {\n    std::shared_ptr<ApiClient>\
          \ apiClient(new ApiClient);\n    std::shared_ptr<ApiConfiguration> apiConfig(new\
          \ ApiConfiguration);\n\n    // put your Username and API Key from https://my.textmagic.com/online/api/rest-api/keys\
          \ page.\n    apiConfig->getHttpConfig().set_credentials(web::credentials(\"\
          YOUR_NAME\", \"YOUR_API_KEY\"));\n    apiClient->setConfiguration(apiConfig);\n\
          \n    TextMagicApi api(apiClient);\n\n    // Optional parameters. Important:\
          \ if you want to use default value then pass boost::none value\n    int\
          \ full = 0;\n\n    try {\n        pplx::task<std::shared_ptr<GetTimezonesResponse>>\
          \ result = api.getTimezones(full);\n        result.wait();\n        // put\
          \ operations with result here...\n    } catch(const std::exception& e) {\n\
          \        std::cout << \"getTimezones() exception: \" << e.what() << '\\\
          n';\n    }\n\n    return 0;\n}"
      - lang: "Python"
        source: "import TextMagic\nfrom TextMagic.rest import ApiException\n\nconfiguration\
          \ = TextMagic.Configuration()\n# put your Username and API Key from https://my.textmagic.com/online/api/rest-api/keys\
          \ page.\nconfiguration.username = \"YOUR_USERNAME\"\nconfiguration.password\
          \ = \"YOUR_API_KEY\"\n\n# create an instance of the API class\napi_instance\
          \ = TextMagic.TextMagicApi(TextMagic.ApiClient(configuration))\n\n# Optional\
          \ params, you can skip them\nfull = 0\n\ntry:\n    # GetTimezonesResponse\
          \ object\n    result = api_instance.get_timezones(full=full)\n    # ...\n\
          except ApiException as e:\n    print(\"Exception when calling TextMagicApi->get_timezones:\
          \ %s\\n\" % e)\n"
      - lang: "Perl"
        source: "use 5.010;\nuse strict;\nuse warnings;\nuse Net::Sms::TextMagicClient::ApiClient;\n\
          use Net::Sms::TextMagicClient::TextMagicApi;\n\n# put your Username and\
          \ API Key from https://my.textmagic.com/online/api/rest-api/keys page.\n\
          my $client = Net::Sms::TextMagicClient::ApiClient::->new(\n    username\
          \   => 'YOUR_USERNAME',\n    password   => 'YOUR_API_KEY'\n);\n\nmy $api_instance\
          \ = Net::Sms::TextMagicClient::TextMagicApi::->new($client);\n\n# Optional\
          \ params, you can skip them\nmy $full = 0;\n\neval {\n    # GetTimezonesResponse\
          \ object\n    my $result = $api_instance->get_timezones(full => $full);\n\
          \    # ...\n};\n\nif ($@) {\n    warn \"Exception when calling TextMagicApi->get_timezones:\
          \ $@\\n\";\n}"
  /api/v2/push/tokens: {}
  /api/v2/push/tokens/{type}/{deviceId}: {}
  /api/v2/state: {}
  /api/v2/versions: {}
  /api/v2/lookups/{phone}:
    get:
      tags:
      - "TextMagic"
      summary: "Carrier Lookup"
      description: "This API call allows you to retrieve additional information about\
        \ a phone number: region-specific phone number formatting, carrier, phone\
        \ type (landline/mobile) and country information.\n\n> Numbers must be checked\
        \ one by one. You cannot check multiple numbers in one request.\n \n"
      operationId: "doCarrierLookup"
      parameters:
      - name: "phone"
        in: "path"
        description: "Phone number in [E.164 format](https://en.wikipedia.org/wiki/E.164)\
          \ or in [National format](https://en.wikipedia.org/wiki/National_conventions_for_writing_telephone_numbers).\n"
        required: true
        type: "string"
        x-example: "447860021130"
        x-exportParamName: "Phone"
      - name: "country"
        in: "query"
        description: "This option must be specified only if the phone number is in\
          \ a **[National format](https://en.wikipedia.org/wiki/National_conventions_for_writing_telephone_numbers)**.\n"
        required: false
        type: "string"
        x-example: "GB"
        x-exportParamName: "Country"
        x-optionalDataType: "String"
      responses:
        200:
          description: "Returned when successful."
          schema:
            $ref: "#/definitions/DoCarrierLookupResponse"
        400:
          description: "Bad request."
          schema:
            $ref: "#/definitions/BadRequestResponse"
        401:
          description: "Unauthorized request."
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
        429:
          description: "Returned when the number of queries per second is too high."
      x-code-samples:
      - lang: "PHP"
        source: "require_once(__DIR__ . '/vendor/autoload.php');\n\nuse TextMagic\\\
          Api\\TextMagicApi;\nuse TextMagic\\Configuration;\n\n// put your Username\
          \ and API Key from https://my.textmagic.com/online/api/rest-api/keys page.\n\
          $config = Configuration::getDefaultConfiguration()\n    ->setUsername('YOUR_USERNAME')\n\
          \    ->setPassword('YOUR_API_KEY');\n\n$api = new TextMagicApi(\n    new\
          \ GuzzleHttp\\Client(),\n    $config\n);\n\n$phone = \"447860021130\";\n\
          // Optional, you can pass them as null values to doCarrierLookup method\
          \ below, default values will be used\n$country = \"GB\";\n\ntry {\n    //\
          \ DoCarrierLookupResponse class object\n    $result = $api->doCarrierLookup($phone,\
          \ $country);\n    // ...\n} catch (Exception $e) {\n    echo 'Exception\
          \ when calling TextMagicApi->doCarrierLookup: ', $e->getMessage(), PHP_EOL;\n\
          }"
      - lang: "Java"
        source: "import com.textmagic.sdk.*;\nimport com.textmagic.sdk.api.TextMagicApi;\n\
          import com.textmagic.sdk.auth.*;\nimport com.textmagic.sdk.model.*;\n\n\
          public class App {\n    public static void main(String[] args) {\n     \
          \   ApiClient defaultClient = Configuration.getDefaultApiClient();\n\n \
          \       // put your Username and API Key from https://my.textmagic.com/online/api/rest-api/keys\
          \ page.\n        HttpBasicAuth BasicAuth = (HttpBasicAuth) defaultClient.getAuthentication(\"\
[...]
